.version.comparing_efficacy_and_side_effects /* version checker */
{
	color: #0000F1;
	background-color: #1E0721;
}

#page
{
	margin-right: auto;
	min-height: 574px;
	background-image: none;
	margin-left: auto;
	border-color: #000000;
	width: 100%;
	padding-bottom: 26px;
	z-index: 1;
	border-width: 0px;
	background-color: transparent;
}

#u26894
{
	position: fixed;
	border-style: solid;
	background-color: #FFFFFF;
	border-color: #C9C9C9;
	top: 0px;
	z-index: 21;
	border-width: 0px 0px 1px;
}

#u26894-bw
{
	z-index: 21;
}

#u26900
{
	border-color: transparent;
	position: fixed;
	z-index: 27;
	border-width: 0px;
	background-color: transparent;
}

#u26901
{
	border-color: transparent;
	position: fixed;
	z-index: 28;
	border-width: 0px;
	background-color: transparent;
}

#u26905-4
{
	letter-spacing: 1px;
	position: fixed;
	font-family: pt-sans, sans-serif;
	z-index: 41;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
}

#u26905-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	filter: alpha(opacity=50);
	padding-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	margin-bottom: 0px;
	opacity: 0.5;
	margin-top: 0px;
}

#u26903-4
{
	letter-spacing: 1px;
	position: fixed;
	font-family: pt-sans, sans-serif;
	z-index: 37;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
}

#u26902-4
{
	letter-spacing: 1px;
	position: fixed;
	font-family: pt-sans, sans-serif;
	z-index: 29;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
}

#u26904-4
{
	letter-spacing: 1px;
	position: fixed;
	font-family: pt-sans, sans-serif;
	z-index: 33;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
}

#u26906-4
{
	letter-spacing: 1px;
	position: fixed;
	font-family: pt-sans, sans-serif;
	z-index: 45;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
}

#u26903-4:hover,#u26902-4:hover,#u26904-4:hover,#u26906-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#u26905-4:hover p,#u26903-4:hover p,#u26902-4:hover p,#u26904-4:hover p,#u26906-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
}

#u26905-2,#u26903-2,#u26902-2,#u26904-2,#u26906-2
{
	padding-top: 21px;
}

#u26899
{
	margin-right: -10000px;
	margin-left: 50%;
	min-height: 504px;
	border-width: 0px;
	border-color: transparent;
	margin-top: 115px;
	z-index: 20;
	background-color: transparent;
	position: relative;
}

#u26898-5
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 32px;
	font-family: pt-sans, sans-serif;
	z-index: 22;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	width: 213px;
	font-size: 22px;
	line-height: 26px;
}

#u26898-2
{
	color: #29ABE2;
}

#u21576
{
	margin-right: -10000px;
	padding-bottom: 0px;
	margin-left: 50%;
	position: relative;
	width: 347px;
	z-index: 2;
	margin-top: 35px;
}

#u21579-5
{
	left: -152px;
	min-height: 19px;
	margin-left: 50%;
	position: relative;
	width: 301px;
	z-index: 7;
}

#u21577-7
{
	left: -90px;
	min-height: 53px;
	margin-left: 50%;
	position: relative;
	width: 178px;
	z-index: 12;
}

#u21580-4
{
	left: -174px;
	min-height: 21px;
	margin-left: 50%;
	position: relative;
	width: 347px;
	z-index: 3;
	margin-top: 25px;
}

#u22348
{
	margin-right: -10000px;
	position: relative;
	z-index: 19;
	margin-top: 4px;
	height: 1px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

.verticalspacer
{
	min-height: 1px;
}

@media (min-width: 1039px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#pu26894
	{
		width: 0.01px;
		padding-bottom: 57px;
		margin-right: -10000px;
	}

	#u26894
	{
		height: 57px;
	}

	#u26898-5
	{
		top: 15px;
		left: 112px;
	}

	#u26899
	{
		width: 878px;
		left: -439px;
	}

	#u26900
	{
		width: 600px;
		padding-bottom: 57px;
		top: 0px;
		right: 22px;
	}

	#u26901
	{
		width: 434px;
		padding-bottom: 57px;
		top: 0px;
		right: 188px;
	}

	#u26905-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 520px;
	}

	#u26905-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 102px;
	}

	#u26903-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 404px;
	}

	#u26903-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 116px;
	}

	#u26902-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 296px;
	}

	#u26904-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 188px;
	}

	#u26902-4:hover,#u26904-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 108px;
	}

	#u26906-4
	{
		width: 107px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 22px;
	}

	#u26906-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 107px;
	}

	#u22348
	{
		width: 73.34%;
		left: 13.34%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		top: -6px;
		margin-bottom: -6px;
	}
}

@media (min-width: 726px) and (max-width: 1038px)
{
	#muse_css_mq
	{
		background-color: #00040e;
	}

	#bp_1038.active
	{
		display: block;
	}

	#page
	{
		max-width: 1038px;
	}

	#u26894
	{
		height: 110px;
	}

	#u26899
	{
		width: 878px;
		left: -439px;
	}

	#pu26898-5
	{
		width: 0.01px;
		padding-bottom: 90px;
		margin-right: -10000px;
		margin-top: 20px;
		margin-left: 219px;
	}

	#u26898-5
	{
		top: 20px;
		left: 50%;
		margin-left: -107px;
	}

	#u26900
	{
		width: 600px;
		padding-bottom: 58px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u26901
	{
		width: 463px;
		padding-bottom: 57px;
		top: 53px;
		left: 50%;
		margin-left: -300px;
	}

	#u26905-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -300px;
	}

	#u26905-4:hover
	{
		margin-left: -300px;
		min-height: 57px;
		width: 102px;
	}

	#u26903-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -198px;
	}

	#u26903-4:hover
	{
		margin-left: -198px;
		min-height: 57px;
		width: 116px;
	}

	#u26902-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -82px;
	}

	#u26902-4:hover
	{
		margin-left: -82px;
		min-height: 57px;
		width: 108px;
	}

	#u26904-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: 26px;
	}

	#u26904-4:hover
	{
		margin-left: 26px;
		min-height: 57px;
		width: 137px;
	}

	#u26906-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 52px;
		left: 50%;
		margin-left: 163px;
	}

	#u26906-4:hover
	{
		margin-left: 163px;
		min-height: 57px;
		width: 137px;
	}

	#u22348
	{
		width: 73.32%;
		left: 13.3%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		top: -6px;
		margin-bottom: -6px;
	}
}

@media (min-width: 461px) and (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		max-width: 725px;
	}

	#u26899
	{
		width: 878px;
		left: -440px;
	}

	#u26894
	{
		height: 109px;
	}

	#pu26898-5
	{
		width: 0.01px;
		padding-bottom: 89px;
		margin-right: -10000px;
		margin-top: 20px;
		margin-left: 62px;
	}

	#u26898-5
	{
		top: 20px;
		left: 50%;
		margin-left: -106px;
	}

	#u26900
	{
		width: 600px;
		padding-bottom: 57px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u26901
	{
		width: 463px;
		padding-bottom: 57px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u26905-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u26905-4:hover
	{
		margin-left: -300px;
		min-height: 57px;
		width: 102px;
	}

	#u26903-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 52px;
		left: 50%;
		margin-left: -198px;
	}

	#u26903-4:hover
	{
		margin-left: -198px;
		min-height: 57px;
		width: 116px;
	}

	#u26902-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 52px;
		left: 50%;
		margin-left: -82px;
	}

	#u26902-4:hover
	{
		margin-left: -82px;
		min-height: 57px;
		width: 108px;
	}

	#u26904-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 52px;
		left: 50%;
		margin-left: 26px;
	}

	#u26904-4:hover
	{
		margin-left: 26px;
		min-height: 57px;
		width: 137px;
	}

	#u26906-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 52px;
		left: 50%;
		margin-left: 163px;
	}

	#u26906-4:hover
	{
		margin-left: 163px;
		min-height: 57px;
		width: 137px;
	}

	#u22348
	{
		width: 73.38%;
		left: 13.38%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		top: -6px;
		margin-bottom: -6px;
	}
}

@media (max-width: 460px)
{
	#muse_css_mq
	{
		background-color: #0001cc;
	}

	#bp_460.active
	{
		display: block;
	}

	#page
	{
		max-width: 460px;
	}

	#pu26894
	{
		width: 0.01px;
		padding-bottom: 109px;
		margin-right: -10000px;
	}

	#u26894
	{
		height: 109px;
	}

	#u26900
	{
		width: 300px;
		padding-bottom: 55px;
		top: 52px;
		left: 50%;
		margin-left: -150px;
	}

	#u26901
	{
		width: 232px;
		padding-bottom: 55px;
		top: 52px;
		left: 50%;
		margin-left: -150px;
	}

	#u26905-4
	{
		width: 51px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 52px;
		left: 50%;
		margin-left: -150px;
	}

	#u26905-4:hover
	{
		margin-left: -150px;
		min-height: 55px;
		width: 51px;
	}

	#u26903-4
	{
		width: 58px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 52px;
		left: 50%;
		margin-left: -99px;
	}

	#u26903-4:hover
	{
		margin-left: -99px;
		min-height: 55px;
		width: 58px;
	}

	#u26902-4
	{
		width: 54px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 52px;
		left: 50%;
		margin-left: -41px;
	}

	#u26902-4:hover
	{
		margin-left: -41px;
		min-height: 55px;
		width: 54px;
	}

	#u26904-4
	{
		width: 68px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 52px;
		left: 50%;
		margin-left: 13px;
	}

	#u26904-4:hover
	{
		margin-left: 13px;
		min-height: 55px;
		width: 68px;
	}

	#u26906-4
	{
		width: 68px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 52px;
		left: 50%;
		margin-left: 81px;
	}

	#u26906-4:hover
	{
		margin-left: 81px;
		min-height: 55px;
		width: 68px;
	}

	#u26899
	{
		width: 300px;
		left: -150px;
	}

	#u26898-5
	{
		top: 20px;
		left: 50%;
		margin-left: -106px;
	}

	#u21576
	{
		left: -174px;
	}

	#u21577-7
	{
		margin-top: 5px;
	}

	#u22348
	{
		width: 73.27%;
		left: 13.27%;
	}

	body
	{
		min-width: 320px;
	}
}

