.version.contacts /* version checker */
{
	color: #00001F;
	background-color: #BA9439;
}

#page
{
	background-color: transparent;
	border-color: #000000;
	background-image: none;
	border-width: 0px;
	width: 100%;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
}

#pu22663
{
	width: 100%;
}

#u22663
{
	background-color: #FFFFFF;
	position: fixed;
	border-style: solid;
	z-index: 29;
	top: 0px;
	border-color: #C9C9C9;
	border-width: 0px 0px 1px;
}

#u22663-bw
{
	z-index: 29;
}

#u22664-5
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	min-height: 32px;
	line-height: 26px;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	font-size: 22px;
	width: 213px;
	z-index: 30;
}

#u22664-2
{
	color: #29ABE2;
}

#u30225
{
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
	position: fixed;
	z-index: 35;
}

#u30226
{
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
	position: fixed;
	z-index: 36;
}

#u30227
{
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
	position: fixed;
	z-index: 37;
}

#u30231-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 50;
}

#u30231-4:hover
{
	margin-bottom: 0px;
	opacity: 0.5;
	margin-top: 0px;
	padding-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	margin-right: 0px;
}

#u30228-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 46;
}

#u30230-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 38;
}

#u30229-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 42;
}

#u30232-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 54;
}

#u30233-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 58;
}

#u30228-4:hover,#u30230-4:hover,#u30229-4.MuseLinkActive,#u30232-4:hover,#u30233-4:hover
{
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}

#u30231-4:hover p,#u30228-4:hover p,#u30230-4:hover p,#u30229-4.MuseLinkActive p,#u30232-4:hover p,#u30233-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
}

#u30231-2,#u30228-2,#u30230-2,#u30229-2,#u30232-2,#u30233-2
{
	padding-top: 21px;
}

#u19304-4
{
	background-color: transparent;
	min-height: 53px;
	position: relative;
	z-index: 25;
	font-weight: 400;
}

#u19304-2
{
	font-family: pt-sans, sans-serif;
}

#u19305-4
{
	background-color: transparent;
	min-height: 41px;
	position: relative;
	z-index: 20;
}

#u19241
{
	background-color: transparent;
	min-width: 30px;
	position: relative;
	left: 0px;
	max-width: 100000px;
	border-width: 0px;
	border-color: transparent;
	z-index: 24;
}

#u22348
{
	margin-top: 4px;
	position: relative;
	z-index: 19;
	height: 1px;
}

#u21576
{
	margin-top: 30px;
	padding-bottom: 0px;
	position: relative;
	width: 347px;
	z-index: 2;
	margin-left: 50%;
}

#u21579-5
{
	left: -152px;
	min-height: 19px;
	position: relative;
	width: 301px;
	z-index: 7;
	margin-left: 50%;
}

#u21577-7
{
	min-height: 53px;
	position: relative;
	z-index: 12;
	margin-left: 50%;
}

#u21580-4
{
	left: -174px;
	min-height: 21px;
	margin-top: 25px;
	position: relative;
	width: 347px;
	z-index: 3;
	margin-left: 50%;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1039px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.0784392257378px;
		padding-bottom: 26.92156077426216px;
	}

	#pu22663
	{
		padding-bottom: 57px;
	}

	#u22663
	{
		height: 57px;
	}

	#u22664-5
	{
		top: 15px;
		left: 112px;
	}

	#u30225,#u30226
	{
		width: 649px;
		padding-bottom: 57px;
		top: 0px;
		right: 20px;
	}

	#u30227
	{
		width: 434px;
		padding-bottom: 57px;
		top: 0px;
		right: 235px;
	}

	#u30231-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 567px;
	}

	#u30231-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 102px;
	}

	#u30228-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 451px;
	}

	#u30228-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 116px;
	}

	#u30230-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 343px;
	}

	#u30229-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 235px;
	}

	#u30232-4
	{
		width: 107px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 20px;
	}

	#u30232-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 107px;
	}

	#u30233-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 127px;
	}

	#u30230-4:hover,#u30229-4.MuseLinkActive,#u30233-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 108px;
	}

	#u19304-4
	{
		line-height: 36px;
		margin-top: 73px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u19305-4
	{
		margin-top: 6px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u19241
	{
		height: 400px;
		margin-top: 36px;
		width: 73.84%;
		margin-left: 13.09%;
	}

	#u22348
	{
		width: 73.34%;
		margin-left: 13.34%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		width: 189px;
		top: -6px;
		margin-bottom: -6px;
		left: -96px;
	}
}

@media (min-width: 726px) and (max-width: 1038px)
{
	#muse_css_mq
	{
		background-color: #00040e;
	}

	#bp_1038.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.1193483166469px;
		padding-bottom: 26.880651683353108px;
		max-width: 1038px;
	}

	#pu22663
	{
		padding-bottom: 110px;
	}

	#u22663
	{
		height: 110px;
	}

	#u22664-5
	{
		top: 20px;
		left: 50%;
		margin-left: -108px;
	}

	#u30225,#u30226
	{
		width: 737px;
		padding-bottom: 57px;
		top: 53px;
		left: 50%;
		margin-left: -370px;
	}

	#u30227
	{
		width: 463px;
		padding-bottom: 57px;
		top: 53px;
		left: 50%;
		margin-left: -370px;
	}

	#u30231-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -370px;
	}

	#u30231-4:hover
	{
		margin-left: -370px;
		min-height: 57px;
		width: 102px;
	}

	#u30228-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -268px;
	}

	#u30228-4:hover
	{
		margin-left: -268px;
		min-height: 57px;
		width: 116px;
	}

	#u30230-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -152px;
	}

	#u30230-4:hover
	{
		margin-left: -152px;
		min-height: 57px;
		width: 108px;
	}

	#u30229-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -44px;
	}

	#u30229-4.MuseLinkActive
	{
		margin-left: -44px;
		min-height: 57px;
		width: 137px;
	}

	#u30232-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: 230px;
	}

	#u30232-4:hover
	{
		margin-left: 230px;
		min-height: 57px;
		width: 137px;
	}

	#u30233-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: 93px;
	}

	#u30233-4:hover
	{
		margin-left: 93px;
		min-height: 57px;
		width: 137px;
	}

	#u19304-4
	{
		line-height: 36px;
		margin-top: 20px;
		width: 76.11%;
		margin-left: 11.95%;
	}

	#u19305-4
	{
		margin-top: 6px;
		width: 75.92%;
		margin-left: 11.95%;
	}

	#u19241
	{
		height: 400px;
		margin-top: 36px;
		width: 73.8%;
		margin-left: 13.11%;
	}

	#u22348
	{
		width: 73.32%;
		margin-left: 13.3%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		width: 189px;
		top: -6px;
		margin-bottom: -6px;
		left: -96px;
	}
}

@media (min-width: 461px) and (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.1193483166469px;
		padding-bottom: 26.880651683353108px;
		max-width: 725px;
	}

	#pu22663
	{
		padding-bottom: 107px;
	}

	#u22663
	{
		height: 107px;
	}

	#u22664-5
	{
		top: 18px;
		left: 50%;
		margin-left: -107px;
	}

	#u30225,#u30226
	{
		width: 553px;
		padding-bottom: 57px;
		top: 50px;
		left: 50%;
		margin-left: -277px;
	}

	#u30227
	{
		width: 349px;
		padding-bottom: 57px;
		top: 50px;
		left: 50%;
		margin-left: -277px;
	}

	#u30231-4
	{
		width: 69px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 50px;
		left: 50%;
		margin-left: -277px;
	}

	#u30231-4:hover
	{
		margin-left: -277px;
		min-height: 57px;
		width: 69px;
	}

	#u30228-4
	{
		width: 87px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 50px;
		left: 50%;
		margin-left: -208px;
	}

	#u30228-4:hover
	{
		margin-left: -208px;
		min-height: 57px;
		width: 87px;
	}

	#u30230-4
	{
		width: 100px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 50px;
		left: 50%;
		margin-left: -121px;
	}

	#u30230-4:hover
	{
		margin-left: -121px;
		min-height: 57px;
		width: 100px;
	}

	#u30229-4
	{
		width: 93px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 50px;
		left: 50%;
		margin-left: -21px;
	}

	#u30229-4.MuseLinkActive
	{
		margin-left: -21px;
		min-height: 57px;
		width: 93px;
	}

	#u30232-4
	{
		width: 98px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 50px;
		left: 50%;
		margin-left: 177px;
	}

	#u30232-4:hover
	{
		margin-left: 177px;
		min-height: 57px;
		width: 98px;
	}

	#u30233-4
	{
		width: 105px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 50px;
		left: 50%;
		margin-left: 72px;
	}

	#u30233-4:hover
	{
		margin-left: 72px;
		min-height: 57px;
		width: 105px;
	}

	#u19304-4
	{
		line-height: 36px;
		margin-top: 23px;
		width: 76%;
		margin-left: 11.73%;
	}

	#u19305-4
	{
		margin-top: 2px;
		width: 73.94%;
		margin-left: 12.97%;
	}

	#u19241
	{
		height: 235px;
		margin-top: 40px;
		width: 73.8%;
		margin-left: 13.11%;
	}

	#u22348
	{
		width: 73.38%;
		margin-left: 13.38%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		width: 189px;
		top: -6px;
		margin-bottom: -6px;
		left: -96px;
	}
}

@media (max-width: 460px)
{
	#muse_css_mq
	{
		background-color: #0001cc;
	}

	#bp_460.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.1193483166469px;
		padding-bottom: 26.880651683353108px;
		max-width: 460px;
	}

	#pu22663
	{
		padding-bottom: 107px;
	}

	#u22663
	{
		height: 107px;
	}

	#u22664-5
	{
		top: 18px;
		left: 50%;
		margin-left: -107px;
	}

	#u30225,#u30226
	{
		width: 364px;
		padding-bottom: 56px;
		top: 50px;
		left: 50%;
		margin-left: -183px;
	}

	#u30227
	{
		width: 228px;
		padding-bottom: 56px;
		top: 50px;
		left: 50%;
		margin-left: -183px;
	}

	#u30231-4
	{
		width: 50px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 50px;
		left: 50%;
		margin-left: -183px;
	}

	#u30231-4:hover
	{
		margin-left: -183px;
		min-height: 55px;
		width: 50px;
	}

	#u30228-4
	{
		width: 57px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 50px;
		left: 50%;
		margin-left: -133px;
	}

	#u30228-4:hover
	{
		margin-left: -133px;
		min-height: 55px;
		width: 57px;
	}

	#u30230-4
	{
		width: 53px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 50px;
		left: 50%;
		margin-left: -76px;
	}

	#u30230-4:hover
	{
		margin-left: -76px;
		min-height: 55px;
		width: 53px;
	}

	#u30229-4
	{
		width: 68px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 50px;
		left: 50%;
		margin-left: -22px;
	}

	#u30229-4.MuseLinkActive
	{
		margin-left: -22px;
		min-height: 55px;
		width: 68px;
	}

	#u30232-4
	{
		width: 68px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 50px;
		left: 50%;
		margin-left: 113px;
	}

	#u30232-4:hover
	{
		margin-left: 113px;
		min-height: 55px;
		width: 68px;
	}

	#u30233-4
	{
		width: 68px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 50px;
		left: 50%;
		margin-left: 45px;
	}

	#u30233-4:hover
	{
		margin-left: 45px;
		min-height: 55px;
		width: 68px;
	}

	#u19304-4
	{
		line-height: 29px;
		margin-top: 23px;
		width: 76.09%;
		margin-left: 11.74%;
	}

	#u19304-2
	{
		font-size: 24px;
	}

	#u19305-4
	{
		line-height: 18px;
		font-size: 10px;
		margin-top: 2px;
		width: 73.92%;
		margin-left: 13.05%;
	}

	#u19241
	{
		height: 147px;
		margin-top: 40px;
		width: 73.7%;
		margin-left: 13.16%;
	}

	#u22348
	{
		width: 73.27%;
		margin-left: 13.27%;
	}

	#u21576
	{
		left: -174px;
	}

	#u21577-7
	{
		width: 178px;
		margin-top: 5px;
		left: -90px;
	}

	body
	{
		min-width: 320px;
	}
}

