.version.contacts /* version checker */
{
	color: #00001E;
	background-color: #B039C8;
}

#page
{
	margin-right: auto;
	width: 100%;
	background-image: none;
	margin-left: auto;
	border-color: #000000;
	z-index: 1;
	border-width: 0px;
	background-color: transparent;
}

#pu22663
{
	width: 100%;
}

#u22663
{
	position: fixed;
	border-style: solid;
	background-color: #FFFFFF;
	border-color: #C9C9C9;
	top: 0px;
	z-index: 29;
	border-width: 0px 0px 1px;
}

#u22663-bw
{
	z-index: 29;
}

#u22664-5
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 32px;
	font-family: pt-sans, sans-serif;
	z-index: 30;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	width: 213px;
	font-size: 22px;
	line-height: 26px;
}

#u22664-2
{
	color: #29ABE2;
}

#u22665
{
	border-color: transparent;
	position: fixed;
	z-index: 35;
	border-width: 0px;
	background-color: transparent;
}

#u22667
{
	border-color: transparent;
	position: fixed;
	z-index: 36;
	border-width: 0px;
	background-color: transparent;
}

#u22671-4
{
	letter-spacing: 1px;
	position: fixed;
	font-family: pt-sans, sans-serif;
	z-index: 49;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
}

#u22671-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	filter: alpha(opacity=50);
	padding-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	margin-bottom: 0px;
	opacity: 0.5;
	margin-top: 0px;
}

#u22670-4
{
	letter-spacing: 1px;
	position: fixed;
	font-family: pt-sans, sans-serif;
	z-index: 45;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
}

#u22668-4
{
	letter-spacing: 1px;
	position: fixed;
	font-family: pt-sans, sans-serif;
	z-index: 37;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
}

#u22669-4
{
	letter-spacing: 1px;
	position: fixed;
	font-family: pt-sans, sans-serif;
	z-index: 41;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
}

#u22666-4
{
	letter-spacing: 1px;
	position: fixed;
	font-family: pt-sans, sans-serif;
	z-index: 53;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
}

#u22670-4:hover,#u22668-4:hover,#u22669-4.MuseLinkActive,#u22666-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#u22671-4:hover p,#u22670-4:hover p,#u22668-4:hover p,#u22669-4.MuseLinkActive p,#u22666-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
}

#u22671-2,#u22670-2,#u22668-2,#u22669-2,#u22666-2
{
	padding-top: 21px;
}

#u19304-4
{
	position: relative;
	min-height: 53px;
	z-index: 25;
	background-color: transparent;
}

#u19305-4
{
	position: relative;
	min-height: 41px;
	z-index: 20;
	background-color: transparent;
}

#u19241
{
	left: 0px;
	border-width: 0px;
	border-color: transparent;
	z-index: 24;
	background-color: transparent;
	position: relative;
	max-width: 100000px;
	min-width: 30px;
}

#u22348
{
	position: relative;
	z-index: 19;
	margin-top: 4px;
	height: 1px;
}

#u21576
{
	padding-bottom: 0px;
	margin-left: 50%;
	position: relative;
	width: 347px;
	z-index: 2;
	margin-top: 30px;
}

#u21579-5
{
	left: -152px;
	min-height: 19px;
	margin-left: 50%;
	position: relative;
	width: 301px;
	z-index: 7;
}

#u21577-7
{
	left: -90px;
	min-height: 53px;
	margin-left: 50%;
	position: relative;
	width: 178px;
	z-index: 12;
}

#u21580-4
{
	left: -174px;
	min-height: 21px;
	margin-left: 50%;
	position: relative;
	width: 347px;
	z-index: 3;
	margin-top: 25px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1039px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.0829846802833px;
		padding-bottom: 26.91701531971671px;
	}

	#pu22663
	{
		padding-bottom: 57px;
	}

	#u22663
	{
		height: 57px;
	}

	#u22664-5
	{
		top: 15px;
		left: 112px;
	}

	#u22665
	{
		width: 600px;
		padding-bottom: 57px;
		top: 0px;
		right: 22px;
	}

	#u22667
	{
		width: 434px;
		padding-bottom: 57px;
		top: 0px;
		right: 188px;
	}

	#u22671-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 520px;
	}

	#u22671-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 102px;
	}

	#u22670-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 404px;
	}

	#u22670-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 116px;
	}

	#u22668-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 296px;
	}

	#u22669-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 188px;
	}

	#u22668-4:hover,#u22669-4.MuseLinkActive
	{
		margin-left: 0px;
		min-height: 57px;
		width: 108px;
	}

	#u22666-4
	{
		width: 107px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 22px;
	}

	#u22666-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 107px;
	}

	#u19304-4
	{
		line-height: 36px;
		margin-top: 73px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u19305-4
	{
		margin-top: 6px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u19241
	{
		height: 400px;
		margin-top: 36px;
		width: 73.84%;
		margin-left: 13.09%;
	}

	#u22348
	{
		width: 73.34%;
		margin-left: 13.34%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		top: -6px;
		margin-bottom: -6px;
	}
}

@media (min-width: 726px) and (max-width: 1038px)
{
	#muse_css_mq
	{
		background-color: #00040e;
	}

	#bp_1038.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.1193483166469px;
		padding-bottom: 26.880651683353108px;
		max-width: 1038px;
	}

	#pu22663
	{
		padding-bottom: 110px;
	}

	#u22663
	{
		height: 110px;
	}

	#u22664-5
	{
		top: 20px;
		left: 50%;
		margin-left: -108px;
	}

	#u22665
	{
		width: 600px;
		padding-bottom: 58px;
		top: 52px;
		left: 50%;
		margin-left: -301px;
	}

	#u22667
	{
		width: 463px;
		padding-bottom: 57px;
		top: 53px;
		left: 50%;
		margin-left: -301px;
	}

	#u22671-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -301px;
	}

	#u22671-4:hover
	{
		margin-left: -301px;
		min-height: 57px;
		width: 102px;
	}

	#u22670-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -199px;
	}

	#u22670-4:hover
	{
		margin-left: -199px;
		min-height: 57px;
		width: 116px;
	}

	#u22668-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -83px;
	}

	#u22668-4:hover
	{
		margin-left: -83px;
		min-height: 57px;
		width: 108px;
	}

	#u22669-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: 25px;
	}

	#u22669-4.MuseLinkActive
	{
		margin-left: 25px;
		min-height: 57px;
		width: 137px;
	}

	#u22666-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 52px;
		left: 50%;
		margin-left: 162px;
	}

	#u22666-4:hover
	{
		margin-left: 162px;
		min-height: 57px;
		width: 137px;
	}

	#u19304-4
	{
		line-height: 36px;
		margin-top: 20px;
		width: 76.11%;
		margin-left: 11.95%;
	}

	#u19305-4
	{
		margin-top: 6px;
		width: 75.92%;
		margin-left: 11.95%;
	}

	#u19241
	{
		height: 400px;
		margin-top: 36px;
		width: 73.8%;
		margin-left: 13.11%;
	}

	#u22348
	{
		width: 73.32%;
		margin-left: 13.3%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		top: -6px;
		margin-bottom: -6px;
	}
}

@media (min-width: 461px) and (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.1193483166469px;
		padding-bottom: 26.880651683353108px;
		max-width: 725px;
	}

	#pu22663
	{
		padding-bottom: 107px;
	}

	#u22663
	{
		height: 107px;
	}

	#u22664-5
	{
		top: 18px;
		left: 50%;
		margin-left: -107px;
	}

	#u22665
	{
		width: 600px;
		padding-bottom: 57px;
		top: 50px;
		left: 50%;
		margin-left: -300px;
	}

	#u22667
	{
		width: 463px;
		padding-bottom: 57px;
		top: 50px;
		left: 50%;
		margin-left: -300px;
	}

	#u22671-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 50px;
		left: 50%;
		margin-left: -300px;
	}

	#u22671-4:hover
	{
		margin-left: -300px;
		min-height: 57px;
		width: 102px;
	}

	#u22670-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 50px;
		left: 50%;
		margin-left: -198px;
	}

	#u22670-4:hover
	{
		margin-left: -198px;
		min-height: 57px;
		width: 116px;
	}

	#u22668-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 50px;
		left: 50%;
		margin-left: -82px;
	}

	#u22668-4:hover
	{
		margin-left: -82px;
		min-height: 57px;
		width: 108px;
	}

	#u22669-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 50px;
		left: 50%;
		margin-left: 26px;
	}

	#u22669-4.MuseLinkActive
	{
		margin-left: 26px;
		min-height: 57px;
		width: 137px;
	}

	#u22666-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 50px;
		left: 50%;
		margin-left: 163px;
	}

	#u22666-4:hover
	{
		margin-left: 163px;
		min-height: 57px;
		width: 137px;
	}

	#u19304-4
	{
		line-height: 36px;
		margin-top: 23px;
		width: 76%;
		margin-left: 11.73%;
	}

	#u19305-4
	{
		margin-top: 2px;
		width: 73.94%;
		margin-left: 12.97%;
	}

	#u19241
	{
		height: 235px;
		margin-top: 40px;
		width: 73.8%;
		margin-left: 13.11%;
	}

	#u22348
	{
		width: 73.38%;
		margin-left: 13.38%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		top: -6px;
		margin-bottom: -6px;
	}
}

@media (max-width: 460px)
{
	#muse_css_mq
	{
		background-color: #0001cc;
	}

	#bp_460.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.1193483166469px;
		padding-bottom: 26.880651683353108px;
		max-width: 460px;
	}

	#pu22663
	{
		padding-bottom: 107px;
	}

	#u22663
	{
		height: 107px;
	}

	#u22664-5
	{
		top: 18px;
		left: 50%;
		margin-left: -107px;
	}

	#u22665
	{
		width: 300px;
		padding-bottom: 55px;
		top: 52px;
		left: 50%;
		margin-left: -151px;
	}

	#u22667
	{
		width: 231px;
		padding-bottom: 55px;
		top: 52px;
		left: 50%;
		margin-left: -151px;
	}

	#u22671-4
	{
		width: 51px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 52px;
		left: 50%;
		margin-left: -151px;
	}

	#u22671-4:hover
	{
		margin-left: -151px;
		min-height: 55px;
		width: 51px;
	}

	#u22670-4
	{
		width: 58px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 52px;
		left: 50%;
		margin-left: -100px;
	}

	#u22670-4:hover
	{
		margin-left: -100px;
		min-height: 55px;
		width: 58px;
	}

	#u22668-4
	{
		width: 54px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 52px;
		left: 50%;
		margin-left: -42px;
	}

	#u22668-4:hover
	{
		margin-left: -42px;
		min-height: 55px;
		width: 54px;
	}

	#u22669-4
	{
		width: 68px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 52px;
		left: 50%;
		margin-left: 12px;
	}

	#u22669-4.MuseLinkActive
	{
		margin-left: 12px;
		min-height: 55px;
		width: 68px;
	}

	#u22666-4
	{
		width: 68px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 52px;
		left: 50%;
		margin-left: 80px;
	}

	#u22666-4:hover
	{
		margin-left: 80px;
		min-height: 55px;
		width: 68px;
	}

	#u19304-4
	{
		line-height: 29px;
		margin-top: 23px;
		width: 76.09%;
		margin-left: 11.74%;
	}

	#u19304-2
	{
		font-size: 24px;
	}

	#u19305-4
	{
		line-height: 18px;
		font-size: 10px;
		margin-top: 2px;
		width: 73.92%;
		margin-left: 13.05%;
	}

	#u19241
	{
		height: 147px;
		margin-top: 40px;
		width: 73.7%;
		margin-left: 13.16%;
	}

	#u22348
	{
		width: 73.27%;
		margin-left: 13.27%;
	}

	#u21576
	{
		left: -174px;
	}

	#u21577-7
	{
		margin-top: 5px;
	}

	body
	{
		min-width: 320px;
	}
}

