.version.cost_effectiveness_analysis_of_avonex_and_cinnovex /* version checker */
{
	color: #00001E;
	background-color: #E4B4A9;
}

#page
{
	margin-right: auto;
	background-image: none;
	margin-left: auto;
	border-color: #000000;
	width: 100%;
	z-index: 1;
	border-width: 0px;
	background-color: transparent;
}

#u26738
{
	width: 878px;
	margin-left: 50%;
	border-color: transparent;
	position: relative;
	background-color: transparent;
	min-height: 504px;
	z-index: 20;
	border-width: 0px;
}

#u26739
{
	position: fixed;
	border-style: solid;
	background-color: #FFFFFF;
	border-color: #C9C9C9;
	top: 0px;
	z-index: 27;
	border-width: 0px 0px 1px;
}

#u26739-bw
{
	z-index: 27;
}

#u26740
{
	border-color: transparent;
	position: fixed;
	width: 600px;
	z-index: 33;
	border-width: 0px;
	background-color: transparent;
}

#u26741
{
	padding-bottom: 57px;
	border-color: transparent;
	position: fixed;
	z-index: 34;
	border-width: 0px;
	background-color: transparent;
}

#u26743-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: open-sans, sans-serif;
	z-index: 47;
	background-color: transparent;
	text-align: center;
	font-weight: 600;
	width: 102px;
	font-size: 12px;
	line-height: 14px;
}

#u26743-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	filter: alpha(opacity=50);
	padding-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	margin-bottom: 0px;
	width: 102px;
	min-height: 57px;
	opacity: 0.5;
	margin-top: 0px;
}

#u26745-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 43;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	width: 116px;
	font-size: 12px;
	line-height: 14px;
}

#u26745-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-height: 57px;
	width: 116px;
	margin-top: 0px;
}

#u26742-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 35;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	width: 108px;
	font-size: 12px;
	line-height: 14px;
}

#u26742-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-height: 57px;
	width: 108px;
	margin-top: 0px;
}

#u26744-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 39;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
}

#u26746-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 51;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
}

#u26744-4:hover,#u26746-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-height: 57px;
	margin-top: 0px;
}

#u26743-4:hover p,#u26745-4:hover p,#u26742-4:hover p,#u26744-4:hover p,#u26746-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
}

#u26743-2,#u26745-2,#u26742-2,#u26744-2,#u26746-2
{
	padding-top: 21px;
}

#u26747
{
	position: relative;
	border-color: transparent;
	z-index: 21;
	background-color: transparent;
	border-width: 0px;
}

#u26749
{
	margin-right: -10000px;
	margin-top: 5px;
	position: relative;
	z-index: 22;
	height: 10px;
	background: transparent url("../images/arrow-left.png") no-repeat center center;
	background-size: cover;
}

.hidpi #u26749
{
	background-image: url("../images/arrow-left_2x.png");
}

#u26748-4
{
	margin-right: -10000px;
	color: #727272;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	min-height: 20px;
	z-index: 23;
	background-color: transparent;
}

#u26737-5
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 32px;
	font-family: pt-sans, sans-serif;
	z-index: 28;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	width: 213px;
	font-size: 22px;
	line-height: 26px;
}

#u26737-2
{
	color: #29ABE2;
}

#u22348
{
	position: relative;
	z-index: 19;
	margin-top: 4px;
	height: 1px;
}

#u21576
{
	left: -173px;
	padding-bottom: 0px;
	margin-left: 50%;
	position: relative;
	width: 347px;
	z-index: 2;
}

#u21579-5
{
	left: -152px;
	min-height: 19px;
	margin-left: 50%;
	position: relative;
	width: 301px;
	z-index: 7;
}

#u21577-7
{
	left: -90px;
	min-height: 53px;
	margin-left: 50%;
	position: relative;
	margin-bottom: -6px;
	width: 178px;
	top: -6px;
	z-index: 12;
}

#u21580-4
{
	left: -174px;
	min-height: 21px;
	margin-left: 50%;
	position: relative;
	width: 347px;
	z-index: 3;
	margin-top: 25px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1039px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.0829846802833px;
		padding-bottom: 26.91701531971671px;
	}

	#pu26739
	{
		padding-bottom: 57px;
		width: 100%;
	}

	#u26739
	{
		height: 57px;
	}

	#u26737-5
	{
		top: 15px;
		left: 112px;
	}

	#u26740
	{
		padding-bottom: 57px;
		top: 0px;
		right: 22px;
	}

	#u26741
	{
		width: 434px;
		top: 0px;
		right: 188px;
	}

	#u26743-4
	{
		top: 0px;
		right: 520px;
	}

	#u26745-4
	{
		top: 0px;
		right: 404px;
	}

	#u26742-4
	{
		top: 0px;
		right: 296px;
	}

	#u26743-4:hover,#u26745-4:hover,#u26742-4:hover
	{
		margin-left: 0px;
	}

	#u26744-4
	{
		width: 108px;
		top: 0px;
		right: 188px;
	}

	#u26744-4:hover
	{
		margin-left: 0px;
		width: 108px;
	}

	#u26746-4
	{
		width: 107px;
		top: 0px;
		right: 22px;
	}

	#u26746-4:hover
	{
		margin-left: 0px;
		width: 107px;
	}

	#u26747
	{
		margin-top: 21px;
		width: 7.84%;
		margin-left: 14.92%;
	}

	#u26749
	{
		width: 10.64%;
	}

	#u26748-4
	{
		width: 80.86%;
		left: 19.15%;
	}

	#u26738
	{
		margin-top: 17px;
		left: -439px;
	}

	#u22348
	{
		width: 73.34%;
		margin-left: 13.34%;
	}

	#u21576
	{
		margin-top: 30px;
	}
}

@media (min-width: 726px) and (max-width: 1038px)
{
	#muse_css_mq
	{
		background-color: #00040e;
	}

	#bp_1038.active
	{
		display: block;
	}

	#page
	{
		min-height: 574px;
		padding-bottom: 26px;
		max-width: 1038px;
	}

	#u26739
	{
		height: 110px;
	}

	#u26738
	{
		margin-right: -10000px;
		margin-top: 115px;
		left: -439px;
	}

	#u26747
	{
		margin-right: -10000px;
		margin-top: 78px;
		width: 7.81%;
		left: 14.94%;
	}

	#u26749
	{
		width: 11.12%;
	}

	#u26748-4
	{
		width: 81.49%;
		left: 19.76%;
	}

	#u26740
	{
		padding-bottom: 58px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u26741
	{
		width: 463px;
		top: 53px;
		left: 50%;
		margin-left: -300px;
	}

	#u26743-4
	{
		top: 53px;
		left: 50%;
		margin-left: -300px;
	}

	#u26743-4:hover
	{
		margin-left: -300px;
	}

	#u26745-4
	{
		top: 53px;
		left: 50%;
		margin-left: -198px;
	}

	#u26745-4:hover
	{
		margin-left: -198px;
	}

	#u26742-4
	{
		top: 53px;
		left: 50%;
		margin-left: -82px;
	}

	#u26742-4:hover
	{
		margin-left: -82px;
	}

	#u26744-4
	{
		width: 137px;
		top: 53px;
		left: 50%;
		margin-left: 26px;
	}

	#u26744-4:hover
	{
		margin-left: 26px;
		width: 137px;
	}

	#u26746-4
	{
		width: 137px;
		top: 52px;
		left: 50%;
		margin-left: 163px;
	}

	#u26746-4:hover
	{
		margin-left: 163px;
		width: 137px;
	}

	#u26737-5
	{
		top: 20px;
		left: 50%;
		margin-left: -107px;
	}

	#u22348
	{
		margin-right: -10000px;
		width: 73.32%;
		left: 13.3%;
	}

	#u21576
	{
		margin-right: -10000px;
		margin-top: 35px;
	}

	.verticalspacer
	{
		min-height: 1px;
	}
}

@media (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		min-height: 574px;
		padding-bottom: 26px;
		max-width: 725px;
	}

	#u26738
	{
		margin-right: -10000px;
		margin-top: 115px;
		left: -440px;
	}

	#u26739
	{
		height: 109px;
	}

	#u26740
	{
		padding-bottom: 57px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u26741
	{
		width: 463px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u26743-4
	{
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u26743-4:hover
	{
		margin-left: -300px;
	}

	#u26745-4
	{
		top: 52px;
		left: 50%;
		margin-left: -198px;
	}

	#u26745-4:hover
	{
		margin-left: -198px;
	}

	#u26742-4
	{
		top: 52px;
		left: 50%;
		margin-left: -82px;
	}

	#u26742-4:hover
	{
		margin-left: -82px;
	}

	#u26744-4
	{
		width: 137px;
		top: 52px;
		left: 50%;
		margin-left: 26px;
	}

	#u26744-4:hover
	{
		margin-left: 26px;
		width: 137px;
	}

	#u26746-4
	{
		width: 137px;
		top: 52px;
		left: 50%;
		margin-left: 163px;
	}

	#u26746-4:hover
	{
		margin-left: 163px;
		width: 137px;
	}

	#u26747
	{
		margin-right: -10000px;
		margin-top: 78px;
		width: 7.87%;
		left: 14.9%;
	}

	#u26749
	{
		width: 10.53%;
	}

	#u26748-4
	{
		width: 80.71%;
		left: 19.3%;
	}

	#u26737-5
	{
		top: 20px;
		left: 50%;
		margin-left: -106px;
	}

	#u22348
	{
		margin-right: -10000px;
		width: 73.38%;
		left: 13.38%;
	}

	#u21576
	{
		margin-right: -10000px;
		margin-top: 35px;
	}

	body
	{
		min-width: 320px;
	}

	.verticalspacer
	{
		min-height: 1px;
	}
}

