#u21576
{
	border-color: transparent;
	background-color: transparent;
	border-width: 0px;
}

#u21578
{
	background-color: #727272;
}

#u21579-5
{
	color: #727272;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	background-color: transparent;
}

#u21579-2
{
	letter-spacing: 1px;
	font-size: 14px;
}

#u21579-3
{
	line-height: 22px;
	font-size: 18px;
}

#u21577-7
{
	color: #727272;
	line-height: 11px;
	font-weight: 400;
	letter-spacing: 1px;
	background-color: transparent;
	font-family: pt-sans, sans-serif;
}

#u21580-4
{
	color: #727272;
	font-size: 13px;
	letter-spacing: 2px;
	font-family: raleway, sans-serif;
	text-align: right;
	line-height: 16px;
	font-weight: 400;
	background-color: transparent;
}




