	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#pu26894
	{
		width: 0.01px;
		padding-bottom: 57px;
		margin-right: -10000px;
	}

	#u26894
	{
		height: 57px;
	}

	#u26898-5
	{
		top: 15px;
		left: 112px;
	}

	#u26899
	{
		width: 878px;
		left: -439px;
	}

	#u26900
	{
		width: 600px;
		padding-bottom: 57px;
		top: 0px;
		right: 22px;
	}

	#u26901
	{
		width: 434px;
		padding-bottom: 57px;
		top: 0px;
		right: 188px;
	}

	#u26905-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 520px;
	}

	#u26905-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 102px;
	}

	#u26903-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 404px;
	}

	#u26903-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 116px;
	}

	#u26902-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 296px;
	}

	#u26904-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 188px;
	}

	#u26902-4:hover,#u26904-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 108px;
	}

	#u26906-4
	{
		width: 107px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 22px;
	}

	#u26906-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 107px;
	}

	#u22348
	{
		width: 73.34%;
		left: 13.34%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		top: -6px;
		margin-bottom: -6px;
	}

