	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1474px;
		padding-bottom: 26px;
	}

	#pu18595
	{
		padding-bottom: 58px;
	}

	#u20968
	{
		width: 600px;
		padding-bottom: 58px;
		top: 0px;
		right: 20px;
	}

	#u18600-4
	{
		right: 518px;
	}

	#u18599-4
	{
		right: 402px;
	}

	#u18597-4
	{
		right: 294px;
	}

	#u18893,#u18598-4
	{
		right: 157px;
	}

	#u20959-4
	{
		top: 0px;
		right: 20px;
	}

	#pslideshowu75
	{
		margin-top: -58px;
	}

	#slideshowu75
	{
		height: 778px;
		margin-left: 50%;
		left: -600px;
	}

	#u77,#u4175
	{
		width: 1200px;
		height: 778px;
	}

	#u18596-5
	{
		left: 114px;
	}

	#u1187-6
	{
		width: 714px;
		min-height: 118px;
		top: -453px;
		margin-bottom: -118px;
		margin-left: 50%;
		left: -357px;
	}

	#u20488-4
	{
		top: -276px;
		margin-bottom: -40px;
		left: -144px;
	}

	#u20488-4:hover
	{
		margin-right: 0px;
		margin-bottom: -40px;
		left: -144px;
	}

	#u1180
	{
		min-height: 82px;
		padding-bottom: 33px;
	}

	#u1180_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 100%;
		margin-bottom: -1px;
	}

	#u20595-4
	{
		min-height: 45px;
		margin-top: 34px;
		width: 86.17%;
		left: 6.92%;
	}

	#u1180-bw
	{
		min-height: 82px;
		margin-top: -1px;
	}

	#about
	{
		margin-left: 22px;
		margin-top: 38px;
	}

	#u1192-4
	{
		width: 80.09%;
		margin-left: 10%;
	}

	#u1294-4
	{
		width: 80%;
		margin-left: 10%;
	}

	#pu1191-12
	{
		margin-top: 47px;
	}

	#u1191-12
	{
		min-height: 240px;
		width: 36.67%;
		left: 10%;
	}

	#u1196-12
	{
		margin-right: -10000px;
		width: 36.67%;
		left: 53.34%;
	}

	#u21576
	{
		margin-top: 4px;
		left: -474px;
	}

