	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1173.628439225739px;
		padding-bottom: 26.37156077426107px;
	}

	#slideshowu75
	{
		height: 623px;
		margin-left: 50%;
		left: -600px;
	}

	#u77,#u4175
	{
		width: 1200px;
		height: 623px;
	}

	#pu23849
	{
		padding-bottom: 57px;
		margin-top: -623px;
		width: 100%;
	}

	#u23849
	{
		height: 57px;
	}

	#u29046,#u23851
	{
		width: 649px;
		padding-bottom: 57px;
		top: 0px;
		right: 20px;
	}

	#u23852
	{
		width: 434px;
		padding-bottom: 57px;
		top: 0px;
		right: 235px;
	}

	#u23856-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		font-family: open-sans, sans-serif;
		font-weight: 600;
		top: 0px;
		right: 567px;
	}

	#u23856-4.MuseLinkActive
	{
		margin-left: 0px;
		min-height: 57px;
		width: 102px;
	}

	#u23853-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 451px;
	}

	#u23853-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 116px;
	}

	#u23854-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 343px;
	}

	#u23855-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 235px;
	}

	#u23857-4
	{
		width: 107px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 20px;
	}

	#u23857-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 107px;
	}

	#u29034-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 127px;
	}

	#u23854-4:hover,#u23855-4:hover,#u29034-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 108px;
	}

	#u23850-5
	{
		top: 15px;
		left: 112px;
	}

	#u1187-4
	{
		width: 714px;
		min-height: 118px;
		font-size: 48px;
		line-height: 58px;
		top: -375px;
		margin-bottom: -118px;
		margin-left: 50%;
		left: -357px;
	}

	#u20488-4
	{
		width: 288px;
		min-height: 38px;
		line-height: 38px;
		top: -198px;
		margin-bottom: -40px;
		left: -144px;
	}

	#u20488-4:hover
	{
		margin-bottom: -40px;
		min-height: 38px;
		width: 288px;
		left: -144px;
	}

	#u20488-2
	{
		font-size: 15px;
	}

	#u1192-4
	{
		line-height: 36px;
		margin-top: 42px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u1294-4
	{
		margin-top: 9px;
		width: 80%;
		margin-left: 10%;
	}

	#pu1191-7
	{
		margin-top: 46px;
		width: 100%;
	}

	#u1191-7
	{
		min-height: 240px;
		margin-right: -10000px;
		width: 36.67%;
		left: 10%;
	}

	#u1196-9
	{
		margin-right: -10000px;
		width: 36.67%;
		left: 53.34%;
	}

	#u22348
	{
		margin-top: 4px;
		width: 73.34%;
		margin-left: 13.34%;
	}

	#u21576
	{
		margin-top: 31px;
		left: -173px;
	}

	#u21577-7
	{
		width: 189px;
		top: -6px;
		margin-bottom: -6px;
		left: -96px;
	}

