	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1173.6329846802844px;
		padding-bottom: 26.36701531971562px;
	}

	#slideshowu75
	{
		margin-left: 50%;
		left: -600px;
	}

	#u77,#u4175
	{
		width: 1200px;
	}

	#pu23849
	{
		padding-bottom: 58px;
		margin-top: -623px;
		width: 100%;
	}

	#u23849
	{
		height: 57px;
	}

	#u23851
	{
		padding-bottom: 58px;
		top: 0px;
		right: 22px;
	}

	#u23852
	{
		width: 434px;
		padding-bottom: 58px;
		top: 0px;
		right: 188px;
	}

	#u23856-4
	{
		top: 1px;
		right: 520px;
	}

	#u23853-4
	{
		top: 1px;
		right: 404px;
	}

	#u23854-4
	{
		top: 1px;
		right: 296px;
	}

	#u23856-4.MuseLinkActive,#u23853-4:hover,#u23854-4:hover
	{
		margin-left: 0px;
	}

	#u23855-4
	{
		width: 108px;
		top: 0px;
		right: 188px;
	}

	#u23855-4:hover
	{
		margin-left: 0px;
		width: 108px;
	}

	#u23857-4
	{
		width: 107px;
		top: 0px;
		right: 22px;
	}

	#u23857-4:hover
	{
		margin-left: 0px;
		width: 107px;
	}

	#u23850-5
	{
		top: 15px;
		left: 112px;
	}

	#u1187-6
	{
		width: 714px;
		min-height: 118px;
		top: -375px;
		margin-bottom: -118px;
		margin-left: 50%;
		left: -357px;
	}

	#u20488-4
	{
		top: -198px;
		left: -144px;
	}

	#u20488-4:hover
	{
		left: -144px;
	}

	#u1192-4
	{
		margin-top: 42px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u1294-4
	{
		margin-top: 9px;
		width: 80%;
		margin-left: 10%;
	}

	#pu1191-7
	{
		margin-top: 46px;
		width: 100%;
	}

	#u1191-7
	{
		min-height: 240px;
		margin-right: -10000px;
		width: 36.67%;
		left: 10%;
	}

	#u1196-9
	{
		margin-right: -10000px;
		width: 36.67%;
		left: 53.34%;
	}

	#u22348
	{
		margin-top: 4px;
		width: 73.34%;
		margin-left: 13.34%;
	}

