	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.0829846802833px;
		padding-bottom: 26.91701531971671px;
	}

	#pu26894
	{
		padding-bottom: 57px;
		width: 100%;
	}

	#u26894
	{
		height: 57px;
	}

	#u26898-5
	{
		top: 15px;
		left: 112px;
	}

	#u26900
	{
		padding-bottom: 57px;
		top: 0px;
		right: 22px;
	}

	#u26901
	{
		width: 434px;
		top: 0px;
		right: 188px;
	}

	#u26905-4
	{
		top: 0px;
		right: 520px;
	}

	#u26903-4
	{
		top: 0px;
		right: 404px;
	}

	#u26902-4
	{
		top: 0px;
		right: 296px;
	}

	#u26905-4:hover,#u26903-4:hover,#u26902-4:hover
	{
		margin-left: 0px;
	}

	#u26904-4
	{
		width: 108px;
		top: 0px;
		right: 188px;
	}

	#u26904-4:hover
	{
		margin-left: 0px;
		width: 108px;
	}

	#u26906-4
	{
		width: 107px;
		top: 0px;
		right: 22px;
	}

	#u26906-4:hover
	{
		margin-left: 0px;
		width: 107px;
	}

	#u26895
	{
		margin-top: 21px;
		width: 7.84%;
		margin-left: 14.92%;
	}

	#u26896
	{
		width: 10.64%;
	}

	#u26897-4
	{
		width: 80.86%;
		left: 19.15%;
	}

	#u26899
	{
		margin-top: 17px;
		left: -439px;
	}

	#u22348
	{
		width: 73.34%;
		margin-left: 13.34%;
	}

	#u21576
	{
		margin-top: 30px;
	}

