.version.papers /* version checker */
{
	color: #0000F9;
	background-color: #163B07;
}

#page
{
	background-color: transparent;
	border-color: #000000;
	background-image: none;
	border-width: 0px;
	width: 100%;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
}

#pu24761
{
	width: 100%;
}

#u24761
{
	background-color: #FFFFFF;
	position: fixed;
	border-style: solid;
	z-index: 64;
	top: 0px;
	border-color: #C9C9C9;
	border-width: 0px 0px 1px;
}

#u24761-bw
{
	z-index: 64;
}

#u24764-5
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	min-height: 32px;
	line-height: 26px;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	font-size: 22px;
	width: 213px;
	z-index: 65;
}

#u24764-2
{
	color: #29ABE2;
}

#u30128
{
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
	position: fixed;
	z-index: 70;
}

#u30129
{
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
	position: fixed;
	z-index: 71;
}

#u30130
{
	background-color: transparent;
	border-color: transparent;
	border-width: 0px;
	position: fixed;
	z-index: 72;
}

#u30134-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 85;
}

#u30134-4:hover
{
	margin-bottom: 0px;
	opacity: 0.5;
	margin-top: 0px;
	padding-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	margin-right: 0px;
}

#u30131-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 81;
}

#u30133-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 73;
}

#u30132-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 77;
}

#u30135-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 89;
}

#u30136-4
{
	background-color: transparent;
	position: fixed;
	text-align: center;
	font-weight: 700;
	font-family: pt-sans, sans-serif;
	letter-spacing: 1px;
	z-index: 93;
}

#u30131-4:hover,#u30133-4.MuseLinkActive,#u30132-4:hover,#u30135-4:hover,#u30136-4:hover
{
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}

#u30134-4:hover p,#u30131-4:hover p,#u30133-4.MuseLinkActive p,#u30132-4:hover p,#u30135-4:hover p,#u30136-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
}

#u30134-2,#u30131-2,#u30133-2,#u30132-2,#u30135-2,#u30136-2
{
	padding-top: 21px;
}

#u24751-4
{
	background-color: transparent;
	min-height: 53px;
	position: relative;
	z-index: 60;
	font-weight: 400;
}

#u24751-2
{
	font-family: pt-sans, sans-serif;
}

#u24752-4
{
	background-color: transparent;
	min-height: 41px;
	margin-top: 6px;
	position: relative;
	z-index: 56;
}

#u26110
{
	background-color: transparent;
	border-color: transparent;
	position: relative;
	border-width: 0px;
	z-index: 20;
}

#u26078
{
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	width: 100%;
	z-index: 21;
	margin-right: -10000px;
}

#u26105-6
{
	background-color: transparent;
	position: relative;
	font-weight: 400;
	min-height: 70px;
	margin-top: 6px;
	font-family: pt-sans, sans-serif;
	letter-spacing: 2px;
	z-index: 23;
	margin-right: -10000px;
}

#u26093
{
	z-index: 22;
	position: relative;
	margin-top: 32px;
	margin-right: -10000px;
	height: 21px;
	background: transparent url("../images/arrows.png") no-repeat center center;
	background-size: cover;
}

#u26138
{
	background-color: transparent;
	border-color: transparent;
	position: relative;
	border-width: 0px;
	z-index: 29;
}

#u26141
{
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	width: 100%;
	z-index: 30;
	margin-right: -10000px;
}

#u26140-8
{
	background-color: transparent;
	position: relative;
	font-weight: 400;
	min-height: 70px;
	margin-top: 6px;
	font-family: pt-sans, sans-serif;
	letter-spacing: 2px;
	z-index: 32;
	margin-right: -10000px;
}

#u26139
{
	z-index: 31;
	position: relative;
	margin-top: 32px;
	margin-right: -10000px;
	height: 21px;
	background: transparent url("../images/arrows.png") no-repeat center center;
	background-size: cover;
}

#u26181
{
	background-color: transparent;
	border-color: transparent;
	position: relative;
	border-width: 0px;
	z-index: 40;
}

#u26184
{
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	width: 100%;
	z-index: 41;
	margin-right: -10000px;
}

#u26183-5
{
	background-color: transparent;
	position: relative;
	font-weight: 400;
	min-height: 70px;
	margin-top: 6px;
	font-family: pt-sans, sans-serif;
	letter-spacing: 2px;
	z-index: 43;
	margin-right: -10000px;
}

#u26182
{
	z-index: 42;
	position: relative;
	margin-top: 32px;
	margin-right: -10000px;
	height: 21px;
	background: transparent url("../images/arrows.png") no-repeat center center;
	background-size: cover;
}

#u26211
{
	background-color: transparent;
	border-color: transparent;
	position: relative;
	border-width: 0px;
	z-index: 48;
}

#u26214
{
	background-color: transparent;
	position: relative;
	width: 100%;
	z-index: 49;
	margin-right: -10000px;
}

#u26213-5
{
	background-color: transparent;
	position: relative;
	font-weight: 400;
	min-height: 70px;
	margin-top: 6px;
	font-family: pt-sans, sans-serif;
	letter-spacing: 2px;
	z-index: 51;
	margin-right: -10000px;
}

#u26212
{
	z-index: 50;
	position: relative;
	margin-top: 32px;
	margin-right: -10000px;
	height: 21px;
	background: transparent url("../images/arrows.png") no-repeat center center;
	background-size: cover;
}

.hidpi #u26093,.hidpi #u26139,.hidpi #u26182,.hidpi #u26212
{
	background-image: url("../images/arrows_2x.png");
}

#u22348
{
	position: relative;
	z-index: 19;
	height: 1px;
}

#u21576
{
	padding-bottom: 0px;
	position: relative;
	width: 347px;
	z-index: 2;
	margin-left: 50%;
}

#u21579-5
{
	left: -152px;
	min-height: 19px;
	position: relative;
	width: 301px;
	z-index: 7;
	margin-left: 50%;
}

#u21577-7
{
	min-height: 53px;
	position: relative;
	z-index: 12;
	margin-left: 50%;
}

#u21580-4
{
	left: -174px;
	min-height: 21px;
	margin-top: 25px;
	position: relative;
	width: 347px;
	z-index: 3;
	margin-left: 50%;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1039px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 599.0284392257378px;
		padding-bottom: 1px;
	}

	#page_position_content
	{
		padding-bottom: 26px;
		width: 100%;
	}

	#pu24761
	{
		padding-bottom: 57px;
	}

	#u24761
	{
		height: 57px;
	}

	#u24764-5
	{
		top: 15px;
		left: 112px;
	}

	#u30128,#u30129
	{
		width: 649px;
		padding-bottom: 57px;
		top: 0px;
		right: 20px;
	}

	#u30130
	{
		width: 434px;
		padding-bottom: 57px;
		top: 0px;
		right: 235px;
	}

	#u30134-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 567px;
	}

	#u30134-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 102px;
	}

	#u30131-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 451px;
	}

	#u30131-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 116px;
	}

	#u30133-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 343px;
	}

	#u30132-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 235px;
	}

	#u30135-4
	{
		width: 107px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 20px;
	}

	#u30135-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 107px;
	}

	#u30136-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 0px;
		right: 127px;
	}

	#u30133-4.MuseLinkActive,#u30132-4:hover,#u30136-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 108px;
	}

	#u24751-4
	{
		line-height: 36px;
		margin-top: 73px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u24752-4
	{
		width: 80%;
		margin-left: 10%;
	}

	#u26110
	{
		margin-top: 53px;
		width: 80%;
		margin-left: 10%;
	}

	#u26138
	{
		margin-top: 15px;
		width: 80%;
		margin-left: 10.09%;
	}

	#u26181
	{
		margin-top: 9px;
		width: 80%;
		margin-left: 10%;
	}

	#u26211
	{
		margin-top: 12px;
		width: 80%;
		margin-left: 10%;
	}

	#u26214
	{
		padding-bottom: 6px;
	}

	#u26105-6,#u26140-8,#u26183-5,#u26213-5
	{
		font-size: 14px;
		width: 93.55%;
		left: 0.63%;
	}

	#u26093,#u26139,#u26182,#u26212
	{
		width: 2.19%;
		left: 95.53%;
	}

	#u22348
	{
		margin-top: 4px;
		width: 73.34%;
		margin-left: 13.34%;
	}

	#u21576
	{
		margin-top: 30px;
		left: -173px;
	}

	#u21577-7
	{
		width: 189px;
		top: -6px;
		margin-bottom: -6px;
		left: -96px;
	}
}

@media (min-width: 726px) and (max-width: 1038px)
{
	#muse_css_mq
	{
		background-color: #00040e;
	}

	#bp_1038.active
	{
		display: block;
	}

	#page
	{
		min-height: 572.5193483166468px;
		padding-bottom: 27.480651683353244px;
		max-width: 1038px;
	}

	#pu24761
	{
		padding-bottom: 110px;
	}

	#u24761
	{
		height: 110px;
	}

	#u24764-5
	{
		top: 20px;
		left: 50%;
		margin-left: -107px;
	}

	#u30128,#u30129
	{
		width: 737px;
		padding-bottom: 57px;
		top: 53px;
		left: 50%;
		margin-left: -369px;
	}

	#u30130
	{
		width: 463px;
		padding-bottom: 57px;
		top: 53px;
		left: 50%;
		margin-left: -369px;
	}

	#u30134-4
	{
		width: 102px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -369px;
	}

	#u30134-4:hover
	{
		margin-left: -369px;
		min-height: 57px;
		width: 102px;
	}

	#u30131-4
	{
		width: 116px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -267px;
	}

	#u30131-4:hover
	{
		margin-left: -267px;
		min-height: 57px;
		width: 116px;
	}

	#u30133-4
	{
		width: 108px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -151px;
	}

	#u30133-4.MuseLinkActive
	{
		margin-left: -151px;
		min-height: 57px;
		width: 108px;
	}

	#u30132-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: -43px;
	}

	#u30132-4:hover
	{
		margin-left: -43px;
		min-height: 57px;
		width: 137px;
	}

	#u30135-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: 231px;
	}

	#u30135-4:hover
	{
		margin-left: 231px;
		min-height: 57px;
		width: 137px;
	}

	#u30136-4
	{
		width: 137px;
		min-height: 57px;
		line-height: 14px;
		font-size: 12px;
		top: 53px;
		left: 50%;
		margin-left: 94px;
	}

	#u30136-4:hover
	{
		margin-left: 94px;
		min-height: 57px;
		width: 137px;
	}

	#u24751-4
	{
		line-height: 36px;
		margin-top: 20px;
		width: 76.11%;
		margin-left: 13.01%;
	}

	#u24752-4
	{
		width: 76.11%;
		margin-left: 12.91%;
	}

	#u26110
	{
		margin-top: 17px;
		width: 79.97%;
		margin-left: 11.57%;
	}

	#u26138,#u26181,#u26211
	{
		margin-top: 8px;
		width: 79.97%;
		margin-left: 11.57%;
	}

	#u26214
	{
		padding-bottom: 6px;
	}

	#u26105-6,#u26140-8,#u26183-5,#u26213-5
	{
		font-size: 14px;
		width: 93.62%;
		left: 0.61%;
	}

	#u26093,#u26139,#u26182,#u26212
	{
		width: 2.17%;
		left: 95.55%;
	}

	#u22348
	{
		margin-top: 3px;
		width: 73.32%;
		margin-left: 13.3%;
	}

	#u21576
	{
		margin-top: 31px;
		left: -173px;
	}

	#u21577-7
	{
		width: 189px;
		top: -6px;
		margin-bottom: -6px;
		left: -96px;
	}
}

@media (min-width: 461px) and (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.4034392257378px;
		padding-bottom: 26.59656077426223px;
		max-width: 725px;
	}

	#pu24761
	{
		padding-bottom: 109px;
	}

	#u24761
	{
		height: 109px;
	}

	#u24764-5
	{
		top: 20px;
		left: 50%;
		margin-left: -106px;
	}

	#u30128,#u30129
	{
		width: 553px;
		padding-bottom: 57px;
		top: 52px;
		left: 50%;
		margin-left: -276px;
	}

	#u30130
	{
		width: 349px;
		padding-bottom: 57px;
		top: 52px;
		left: 50%;
		margin-left: -276px;
	}

	#u30134-4
	{
		width: 69px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 52px;
		left: 50%;
		margin-left: -276px;
	}

	#u30134-4:hover
	{
		margin-left: -276px;
		min-height: 57px;
		width: 69px;
	}

	#u30131-4
	{
		width: 87px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 52px;
		left: 50%;
		margin-left: -207px;
	}

	#u30131-4:hover
	{
		margin-left: -207px;
		min-height: 57px;
		width: 87px;
	}

	#u30133-4
	{
		width: 100px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 52px;
		left: 50%;
		margin-left: -120px;
	}

	#u30133-4.MuseLinkActive
	{
		margin-left: -120px;
		min-height: 57px;
		width: 100px;
	}

	#u30132-4
	{
		width: 93px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 52px;
		left: 50%;
		margin-left: -20px;
	}

	#u30132-4:hover
	{
		margin-left: -20px;
		min-height: 57px;
		width: 93px;
	}

	#u30135-4
	{
		width: 98px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 52px;
		left: 50%;
		margin-left: 178px;
	}

	#u30135-4:hover
	{
		margin-left: 178px;
		min-height: 57px;
		width: 98px;
	}

	#u30136-4
	{
		width: 105px;
		min-height: 57px;
		line-height: 12px;
		font-size: 10px;
		top: 52px;
		left: 50%;
		margin-left: 73px;
	}

	#u30136-4:hover
	{
		margin-left: 73px;
		min-height: 57px;
		width: 105px;
	}

	#u24751-4
	{
		line-height: 36px;
		margin-top: 21px;
		width: 76%;
		margin-left: 13.38%;
	}

	#u24752-4
	{
		width: 76.14%;
		margin-left: 13.25%;
	}

	#u26110
	{
		margin-top: 22px;
		width: 80%;
		margin-left: 11.45%;
	}

	#u26181
	{
		margin-top: 7px;
		width: 80%;
		margin-left: 11.32%;
	}

	#u26105-6,#u26140-8,#u26183-5
	{
		font-size: 14px;
		width: 93.63%;
		left: 0.69%;
	}

	#u26138,#u26211
	{
		margin-top: 6px;
		width: 80%;
		margin-left: 11.32%;
	}

	#u26213-5
	{
		font-size: 14px;
		margin-bottom: -9px;
		width: 93.63%;
		left: 0.69%;
	}

	#u26093,#u26139,#u26182,#u26212
	{
		width: 2.25%;
		left: 95.52%;
	}

	#u22348
	{
		margin-top: 13px;
		width: 73.38%;
		margin-left: 13.38%;
	}

	#u21576
	{
		margin-top: 30px;
		left: -173px;
	}

	#u21577-7
	{
		width: 189px;
		top: -6px;
		margin-bottom: -6px;
		left: -96px;
	}
}

@media (max-width: 460px)
{
	#muse_css_mq
	{
		background-color: #0001cc;
	}

	#bp_460.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.1534392257378px;
		padding-bottom: 26.84656077426223px;
		max-width: 460px;
	}

	#pu24761
	{
		padding-bottom: 109px;
	}

	#u24761
	{
		height: 109px;
	}

	#u24764-5
	{
		top: 20px;
		left: 50%;
		margin-left: -106px;
	}

	#u30128,#u30129
	{
		width: 364px;
		padding-bottom: 55px;
		top: 54px;
		left: 50%;
		margin-left: -183px;
	}

	#u30130
	{
		width: 228px;
		padding-bottom: 55px;
		top: 54px;
		left: 50%;
		margin-left: -183px;
	}

	#u30134-4
	{
		width: 50px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 54px;
		left: 50%;
		margin-left: -183px;
	}

	#u30134-4:hover
	{
		margin-left: -183px;
		min-height: 55px;
		width: 50px;
	}

	#u30131-4
	{
		width: 57px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 54px;
		left: 50%;
		margin-left: -132px;
	}

	#u30131-4:hover
	{
		margin-left: -132px;
		min-height: 55px;
		width: 57px;
	}

	#u30133-4
	{
		width: 53px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 54px;
		left: 50%;
		margin-left: -75px;
	}

	#u30133-4.MuseLinkActive
	{
		margin-left: -75px;
		min-height: 55px;
		width: 53px;
	}

	#u30132-4
	{
		width: 68px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 54px;
		left: 50%;
		margin-left: -22px;
	}

	#u30132-4:hover
	{
		margin-left: -22px;
		min-height: 55px;
		width: 68px;
	}

	#u30135-4
	{
		width: 68px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 54px;
		left: 50%;
		margin-left: 114px;
	}

	#u30135-4:hover
	{
		margin-left: 114px;
		min-height: 55px;
		width: 68px;
	}

	#u30136-4
	{
		width: 68px;
		min-height: 55px;
		line-height: 10px;
		font-size: 8px;
		top: 54px;
		left: 50%;
		margin-left: 45px;
	}

	#u30136-4:hover
	{
		margin-left: 45px;
		min-height: 55px;
		width: 68px;
	}

	#u24751-4
	{
		line-height: 29px;
		margin-top: 21px;
		width: 76.09%;
		margin-left: 13.48%;
	}

	#u24751-2
	{
		font-size: 24px;
	}

	#u24752-4
	{
		line-height: 18px;
		font-size: 10px;
		width: 76.09%;
		margin-left: 13.27%;
	}

	#u26110
	{
		margin-top: 22px;
		width: 80%;
		margin-left: 11.31%;
	}

	#u26138,#u26181,#u26211
	{
		margin-top: 10px;
		width: 80%;
		margin-left: 11.31%;
	}

	#u26214
	{
		padding-bottom: 6px;
	}

	#u26105-6,#u26140-8,#u26183-5,#u26213-5
	{
		line-height: 11px;
		font-size: 9px;
		width: 93.48%;
		left: 0.55%;
	}

	#u26093,#u26139,#u26182,#u26212
	{
		width: 3.27%;
		left: 95.66%;
	}

	#u22348
	{
		margin-top: 4px;
		width: 73.27%;
		margin-left: 13.27%;
	}

	#u21576
	{
		margin-top: 30px;
		left: -174px;
	}

	#u21577-7
	{
		width: 178px;
		margin-top: 5px;
		left: -90px;
	}

	body
	{
		min-width: 320px;
	}
}

