.version.products /* version checker */
{
	color: #000007;
	background-color: #02938C;
}

#page
{
	margin-right: auto;
	background-image: none;
	margin-left: auto;
	border-color: #000000;
	width: 100%;
	z-index: 1;
	border-width: 0px;
	background-color: transparent;
}

#pu24317
{
	width: 100%;
}

#u24317
{
	position: fixed;
	border-style: solid;
	background-color: #FFFFFF;
	border-color: #C9C9C9;
	top: 0px;
	z-index: 32;
	border-width: 0px 0px 1px;
}

#u24317-bw
{
	z-index: 32;
}

#u24318-5
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 32px;
	font-family: pt-sans, sans-serif;
	z-index: 33;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	width: 213px;
	font-size: 22px;
	line-height: 26px;
}

#u24318-2
{
	color: #29ABE2;
}

#u24319
{
	border-color: transparent;
	position: fixed;
	width: 600px;
	z-index: 38;
	border-width: 0px;
	background-color: transparent;
}

#u24320
{
	border-color: transparent;
	position: fixed;
	z-index: 39;
	border-width: 0px;
	background-color: transparent;
}

#u24323-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: open-sans, sans-serif;
	z-index: 52;
	background-color: transparent;
	text-align: center;
	font-weight: 600;
	width: 102px;
	font-size: 12px;
	line-height: 14px;
}

#u24323-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	filter: alpha(opacity=50);
	padding-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	margin-bottom: 0px;
	width: 102px;
	min-height: 57px;
	opacity: 0.5;
	margin-top: 0px;
}

#u24324-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 48;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	width: 116px;
	font-size: 12px;
	line-height: 14px;
}

#u24324-4.MuseLinkActive
{
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-height: 57px;
	width: 116px;
	margin-top: 0px;
}

#u24321-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 40;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	width: 108px;
	font-size: 12px;
	line-height: 14px;
}

#u24321-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-height: 57px;
	width: 108px;
	margin-top: 0px;
}

#u24322-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 44;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
}

#u24325-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 56;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
}

#u24322-4:hover,#u24325-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-height: 57px;
	margin-top: 0px;
}

#u24323-4:hover p,#u24324-4.MuseLinkActive p,#u24321-4:hover p,#u24322-4:hover p,#u24325-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
}

#u24323-2,#u24324-2,#u24321-2,#u24322-2,#u24325-2
{
	padding-top: 21px;
}

#u20100-4
{
	line-height: 36px;
	position: relative;
	min-height: 53px;
	z-index: 28;
	background-color: transparent;
}

#u20099-4
{
	margin-top: 6px;
	position: relative;
	min-height: 41px;
	z-index: 24;
	background-color: transparent;
}

#u23282
{
	border-color: transparent;
	min-height: 271px;
	z-index: 20;
	position: relative;
	margin-left: 50%;
	width: 463px;
	border-width: 0px;
	background: transparent url("../images/sadfasdf.jpg") no-repeat center center;
	background-size: cover;
}

#u23377
{
	border-color: transparent;
	min-height: 271px;
	z-index: 21;
	position: relative;
	margin-left: 50%;
	width: 463px;
	border-width: 0px;
	background: transparent url("../images/%d0%ba%d0%b0%d0%bf%d1%81%d1%83%d0%bb%d1%8b.jpg") no-repeat center center;
	background-size: cover;
}

#u23400
{
	border-color: transparent;
	min-height: 271px;
	z-index: 22;
	position: relative;
	margin-left: 50%;
	width: 463px;
	border-width: 0px;
	background: transparent url("../images/%d1%8b%d0%b2%d0%b0%d1%84%d1%8b%d0%b2%d0%b0.jpg") no-repeat center center;
	background-size: cover;
}

#u23423
{
	border-color: transparent;
	min-height: 271px;
	z-index: 23;
	position: relative;
	margin-left: 50%;
	width: 463px;
	border-width: 0px;
	background: transparent url("../images/%d1%84%d0%b0%d1%8b%d0%b2%d0%b0.jpg") no-repeat center center;
	background-size: cover;
}

#u22348
{
	position: relative;
	z-index: 19;
	height: 1px;
}

#u21576
{
	left: -173px;
	padding-bottom: 0px;
	margin-left: 50%;
	position: relative;
	width: 347px;
	z-index: 2;
}

#u21579-5
{
	left: -152px;
	min-height: 19px;
	margin-left: 50%;
	position: relative;
	width: 301px;
	z-index: 7;
}

#u21577-7
{
	left: -90px;
	min-height: 53px;
	margin-left: 50%;
	position: relative;
	margin-bottom: -6px;
	width: 178px;
	top: -6px;
	z-index: 12;
}

#u21580-4
{
	left: -174px;
	min-height: 21px;
	margin-left: 50%;
	position: relative;
	width: 347px;
	z-index: 3;
	margin-top: 25px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1039px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1073.0829846802833px;
		padding-bottom: 26.91701531971671px;
	}

	#pu24317
	{
		padding-bottom: 58px;
	}

	#u24317
	{
		height: 57px;
	}

	#u24318-5
	{
		top: 15px;
		left: 112px;
	}

	#u24319
	{
		padding-bottom: 58px;
		top: 0px;
		right: 20px;
	}

	#u24320
	{
		width: 434px;
		padding-bottom: 58px;
		top: 0px;
		right: 186px;
	}

	#u24323-4
	{
		top: 1px;
		right: 518px;
	}

	#u24324-4
	{
		top: 1px;
		right: 402px;
	}

	#u24321-4
	{
		top: 1px;
		right: 294px;
	}

	#u24323-4:hover,#u24324-4.MuseLinkActive,#u24321-4:hover
	{
		margin-left: 0px;
	}

	#u24322-4
	{
		width: 108px;
		top: 0px;
		right: 186px;
	}

	#u24322-4:hover
	{
		margin-left: 0px;
		width: 108px;
	}

	#u24325-4
	{
		width: 107px;
		top: 0px;
		right: 20px;
	}

	#u24325-4:hover
	{
		margin-left: 0px;
		width: 107px;
	}

	#u20100-4
	{
		margin-top: 72px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u20099-4
	{
		width: 80%;
		margin-left: 10%;
	}

	#pu23282
	{
		margin-top: 36px;
		width: 100%;
	}

	#pu23400
	{
		margin-top: 9px;
		width: 100%;
	}

	#u23282,#u23400
	{
		margin-right: -10000px;
		left: -467px;
	}

	#u23377,#u23423
	{
		margin-right: -10000px;
		left: 4px;
	}

	#u22348
	{
		margin-top: 93px;
		width: 73.34%;
		margin-left: 13.34%;
	}

	#u21576
	{
		margin-top: 30px;
	}
}

@media (min-width: 726px) and (max-width: 1038px)
{
	#muse_css_mq
	{
		background-color: #00040e;
	}

	#bp_1038.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.1193483166469px;
		padding-bottom: 26.880651683353108px;
		max-width: 1038px;
	}

	#pu24317
	{
		padding-bottom: 110px;
	}

	#u24317
	{
		height: 110px;
	}

	#u24318-5
	{
		top: 20px;
		left: 50%;
		margin-left: -107px;
	}

	#u24319
	{
		padding-bottom: 58px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u24320
	{
		width: 463px;
		padding-bottom: 57px;
		top: 53px;
		left: 50%;
		margin-left: -300px;
	}

	#u24323-4
	{
		top: 53px;
		left: 50%;
		margin-left: -300px;
	}

	#u24323-4:hover
	{
		margin-left: -300px;
	}

	#u24324-4
	{
		top: 53px;
		left: 50%;
		margin-left: -198px;
	}

	#u24324-4.MuseLinkActive
	{
		margin-left: -198px;
	}

	#u24321-4
	{
		top: 53px;
		left: 50%;
		margin-left: -82px;
	}

	#u24321-4:hover
	{
		margin-left: -82px;
	}

	#u24322-4
	{
		width: 137px;
		top: 53px;
		left: 50%;
		margin-left: 26px;
	}

	#u24322-4:hover
	{
		margin-left: 26px;
		width: 137px;
	}

	#u24325-4
	{
		width: 137px;
		top: 52px;
		left: 50%;
		margin-left: 163px;
	}

	#u24325-4:hover
	{
		margin-left: 163px;
		width: 137px;
	}

	#u20100-4
	{
		margin-top: 20px;
		width: 76.11%;
		margin-left: 13.01%;
	}

	#u20099-4
	{
		width: 76.11%;
		margin-left: 12.91%;
	}

	#u23282
	{
		margin-top: 24px;
		left: -232px;
	}

	#u23377,#u23400,#u23423
	{
		margin-top: 14px;
		left: -232px;
	}

	#u22348
	{
		margin-top: 4px;
		width: 73.32%;
		margin-left: 13.3%;
	}

	#u21576
	{
		margin-top: 30px;
	}
}

@media (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		min-height: 572.5534392257375px;
		padding-bottom: 27.44656077426248px;
		max-width: 725px;
	}

	#pu24317
	{
		padding-bottom: 109px;
	}

	#u24317
	{
		height: 109px;
	}

	#u24318-5
	{
		top: 20px;
		left: 50%;
		margin-left: -106px;
	}

	#u24319
	{
		padding-bottom: 57px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u24320
	{
		width: 463px;
		padding-bottom: 57px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u24323-4
	{
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u24323-4:hover
	{
		margin-left: -300px;
	}

	#u24324-4
	{
		top: 52px;
		left: 50%;
		margin-left: -198px;
	}

	#u24324-4.MuseLinkActive
	{
		margin-left: -198px;
	}

	#u24321-4
	{
		top: 52px;
		left: 50%;
		margin-left: -82px;
	}

	#u24321-4:hover
	{
		margin-left: -82px;
	}

	#u24322-4
	{
		width: 137px;
		top: 52px;
		left: 50%;
		margin-left: 26px;
	}

	#u24322-4:hover
	{
		margin-left: 26px;
		width: 137px;
	}

	#u24325-4
	{
		width: 137px;
		top: 52px;
		left: 50%;
		margin-left: 163px;
	}

	#u24325-4:hover
	{
		margin-left: 163px;
		width: 137px;
	}

	#u20100-4
	{
		margin-top: 21px;
		width: 76%;
		margin-left: 13.38%;
	}

	#u20099-4
	{
		width: 76.14%;
		margin-left: 13.25%;
	}

	#u23282
	{
		margin-top: 24px;
		left: -232px;
	}

	#u23377
	{
		margin-top: 14px;
		left: -232px;
	}

	#u23400,#u23423
	{
		margin-top: 15px;
		left: -232px;
	}

	#u22348
	{
		margin-top: 3px;
		width: 73.38%;
		margin-left: 13.38%;
	}

	#u21576
	{
		margin-top: 31px;
	}

	body
	{
		min-width: 320px;
	}
}

