.version.products /* version checker */
{
	color: #000015;
	background-color: #69AD6B;
}

#page
{
	background-image: none;
	margin-left: auto;
	background-color: transparent;
	border-color: #000000;
	z-index: 1;
	margin-right: auto;
	width: 100%;
	border-width: 0px;
}

#pu24317
{
	width: 100%;
}

#u24317
{
	background-color: #FFFFFF;
	border-color: #C9C9C9;
	z-index: 32;
	position: fixed;
	top: 0px;
	border-style: solid;
	border-width: 0px 0px 1px;
}

#u24317-bw
{
	z-index: 32;
}

#u24318-5
{
	text-align: center;
	background-color: transparent;
	position: fixed;
	font-weight: 700;
	letter-spacing: 1px;
	z-index: 33;
	font-size: 22px;
	font-family: pt-sans, sans-serif;
	min-height: 32px;
	width: 213px;
	line-height: 26px;
}

#u24318-2
{
	color: #29ABE2;
}

#u30031
{
	background-color: transparent;
	border-color: transparent;
	z-index: 38;
	position: fixed;
	border-width: 0px;
}

#u30032
{
	background-color: transparent;
	border-color: transparent;
	z-index: 39;
	position: fixed;
	border-width: 0px;
}

#u30033
{
	background-color: transparent;
	border-color: transparent;
	z-index: 40;
	position: fixed;
	border-width: 0px;
}

#u30037-4
{
	text-align: center;
	background-color: transparent;
	position: fixed;
	font-weight: 700;
	letter-spacing: 1px;
	z-index: 53;
	font-family: pt-sans, sans-serif;
}

#u30037-4:hover
{
	padding-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
	padding-bottom: 0px;
}

#u30034-4
{
	text-align: center;
	background-color: transparent;
	position: fixed;
	font-weight: 700;
	letter-spacing: 1px;
	z-index: 49;
	font-family: pt-sans, sans-serif;
}

#u30036-4
{
	text-align: center;
	background-color: transparent;
	position: fixed;
	font-weight: 700;
	letter-spacing: 1px;
	z-index: 41;
	font-family: pt-sans, sans-serif;
}

#u30035-4
{
	text-align: center;
	background-color: transparent;
	position: fixed;
	font-weight: 700;
	letter-spacing: 1px;
	z-index: 45;
	font-family: pt-sans, sans-serif;
}

#u30038-4
{
	text-align: center;
	background-color: transparent;
	position: fixed;
	font-weight: 700;
	letter-spacing: 1px;
	z-index: 57;
	font-family: pt-sans, sans-serif;
}

#u30039-4
{
	text-align: center;
	background-color: transparent;
	position: fixed;
	font-weight: 700;
	letter-spacing: 1px;
	z-index: 61;
	font-family: pt-sans, sans-serif;
}

#u30034-4.MuseLinkActive,#u30036-4:hover,#u30035-4:hover,#u30038-4:hover,#u30039-4:hover
{
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

#u30037-4:hover p,#u30034-4.MuseLinkActive p,#u30036-4:hover p,#u30035-4:hover p,#u30038-4:hover p,#u30039-4:hover p
{
	color: #29ABE2;
	visibility: inherit;
}

#u30037-2,#u30034-2,#u30036-2,#u30035-2,#u30038-2,#u30039-2
{
	padding-top: 21px;
}

#u20100-4
{
	font-weight: 400;
	background-color: transparent;
	position: relative;
	min-height: 53px;
	z-index: 28;
}

#u20100-2
{
	font-family: pt-sans, sans-serif;
}

#u20099-4
{
	background-color: transparent;
	z-index: 24;
	min-height: 41px;
	margin-top: 6px;
	position: relative;
}

#u25740
{
	min-height: 211px;
	position: relative;
	border-width: 0px;
	margin-left: 50%;
	z-index: 20;
	border-color: transparent;
	width: 407px;
	background: transparent url("../images/%d0%b1%d0%b5%d0%b7-%d0%b8%d0%bc%d0%b5%d0%bd%d0%b8-1.jpg") no-repeat center center;
	background-size: cover;
}

#u25762
{
	min-height: 211px;
	position: relative;
	border-width: 0px;
	margin-left: 50%;
	z-index: 21;
	border-color: transparent;
	width: 407px;
	background: transparent url("../images/%d0%b1%d0%b5%d0%b7-%d0%b8%d0%bc%d0%b5%d0%bd%d0%b8-2.jpg") no-repeat center center;
	background-size: cover;
}

#u25785
{
	min-height: 211px;
	position: relative;
	border-width: 0px;
	margin-left: 50%;
	z-index: 22;
	border-color: transparent;
	width: 407px;
	background: transparent url("../images/%d0%b1%d0%b5%d0%b7-%d0%b8%d0%bc%d0%b5%d0%bd%d0%b8-4.jpg") no-repeat center center;
	background-size: cover;
}

#u25786
{
	min-height: 211px;
	position: relative;
	border-width: 0px;
	margin-left: 50%;
	z-index: 23;
	border-color: transparent;
	width: 407px;
	background: transparent url("../images/%d0%b1%d0%b5%d0%b7-%d0%b8%d0%bc%d0%b5%d0%bd%d0%b8-3.jpg") no-repeat center center;
	background-size: cover;
}

#u22348
{
	height: 1px;
	z-index: 19;
	margin-top: 3px;
	position: relative;
}

#u21576
{
	padding-bottom: 0px;
	position: relative;
	margin-top: 31px;
	width: 347px;
	margin-left: 50%;
	z-index: 2;
}

#u21579-5
{
	left: -152px;
	z-index: 7;
	min-height: 19px;
	width: 301px;
	margin-left: 50%;
	position: relative;
}

#u21577-7
{
	z-index: 12;
	min-height: 53px;
	margin-left: 50%;
	position: relative;
}

#u21580-4
{
	left: -174px;
	z-index: 3;
	min-height: 21px;
	margin-top: 25px;
	width: 347px;
	margin-left: 50%;
	position: relative;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1039px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 572.5784392257378px;
		padding-bottom: 27.42156077426216px;
	}

	#pu24317
	{
		padding-bottom: 57px;
	}

	#u24317
	{
		height: 57px;
	}

	#u24318-5
	{
		top: 15px;
		left: 112px;
	}

	#u30031,#u30032
	{
		width: 649px;
		padding-bottom: 57px;
		top: 0px;
		right: 20px;
	}

	#u30033
	{
		width: 434px;
		padding-bottom: 57px;
		top: 0px;
		right: 235px;
	}

	#u30037-4
	{
		width: 102px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 0px;
		right: 567px;
	}

	#u30037-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 102px;
	}

	#u30034-4
	{
		width: 116px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 0px;
		right: 451px;
	}

	#u30034-4.MuseLinkActive
	{
		margin-left: 0px;
		min-height: 57px;
		width: 116px;
	}

	#u30036-4
	{
		width: 108px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 0px;
		right: 343px;
	}

	#u30035-4
	{
		width: 108px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 0px;
		right: 235px;
	}

	#u30038-4
	{
		width: 107px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 0px;
		right: 20px;
	}

	#u30038-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 107px;
	}

	#u30039-4
	{
		width: 108px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 0px;
		right: 127px;
	}

	#u30036-4:hover,#u30035-4:hover,#u30039-4:hover
	{
		margin-left: 0px;
		min-height: 57px;
		width: 108px;
	}

	#u20100-4
	{
		line-height: 36px;
		margin-top: 73px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u20099-4
	{
		width: 80%;
		margin-left: 10%;
	}

	#pu25740
	{
		margin-top: 18px;
		width: 100%;
	}

	#u25740
	{
		margin-right: -10000px;
		left: -411px;
	}

	#pu25785
	{
		margin-top: 10px;
		width: 100%;
	}

	#u25785
	{
		margin-right: -10000px;
		margin-top: 1px;
		left: -411px;
	}

	#u25762,#u25786
	{
		margin-right: -10000px;
		left: 5px;
	}

	#u22348
	{
		width: 73.34%;
		margin-left: 13.34%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		width: 189px;
		top: -6px;
		margin-bottom: -6px;
		left: -96px;
	}
}

@media (min-width: 726px) and (max-width: 1038px)
{
	#muse_css_mq
	{
		background-color: #00040e;
	}

	#bp_1038.active
	{
		display: block;
	}

	#page
	{
		min-height: 572.5693483166469px;
		padding-bottom: 27.430651683353062px;
		max-width: 1038px;
	}

	#pu24317
	{
		padding-bottom: 110px;
	}

	#u24317
	{
		height: 110px;
	}

	#u24318-5
	{
		top: 20px;
		left: 50%;
		margin-left: -107px;
	}

	#u30031,#u30032
	{
		width: 737px;
		padding-bottom: 57px;
		top: 53px;
		left: 50%;
		margin-left: -369px;
	}

	#u30033
	{
		width: 463px;
		padding-bottom: 57px;
		top: 53px;
		left: 50%;
		margin-left: -369px;
	}

	#u30037-4
	{
		width: 102px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 53px;
		left: 50%;
		margin-left: -369px;
	}

	#u30037-4:hover
	{
		margin-left: -369px;
		min-height: 57px;
		width: 102px;
	}

	#u30034-4
	{
		width: 116px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 53px;
		left: 50%;
		margin-left: -267px;
	}

	#u30034-4.MuseLinkActive
	{
		margin-left: -267px;
		min-height: 57px;
		width: 116px;
	}

	#u30036-4
	{
		width: 108px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 53px;
		left: 50%;
		margin-left: -151px;
	}

	#u30036-4:hover
	{
		margin-left: -151px;
		min-height: 57px;
		width: 108px;
	}

	#u30035-4
	{
		width: 137px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 53px;
		left: 50%;
		margin-left: -43px;
	}

	#u30035-4:hover
	{
		margin-left: -43px;
		min-height: 57px;
		width: 137px;
	}

	#u30038-4
	{
		width: 137px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 53px;
		left: 50%;
		margin-left: 231px;
	}

	#u30038-4:hover
	{
		margin-left: 231px;
		min-height: 57px;
		width: 137px;
	}

	#u30039-4
	{
		width: 137px;
		min-height: 57px;
		font-size: 12px;
		line-height: 14px;
		top: 53px;
		left: 50%;
		margin-left: 94px;
	}

	#u30039-4:hover
	{
		margin-left: 94px;
		min-height: 57px;
		width: 137px;
	}

	#u20100-4
	{
		line-height: 36px;
		margin-top: 20px;
		width: 76.11%;
		margin-left: 13.01%;
	}

	#u20099-4
	{
		width: 76.11%;
		margin-left: 12.91%;
	}

	#u25740
	{
		margin-top: 18px;
		left: -204px;
	}

	#u25762
	{
		margin-top: 10px;
		left: -203px;
	}

	#u25785,#u25786
	{
		margin-top: 10px;
		left: -204px;
	}

	#u22348
	{
		width: 73.32%;
		margin-left: 13.3%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		width: 189px;
		top: -6px;
		margin-bottom: -6px;
		left: -96px;
	}
}

@media (min-width: 461px) and (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		min-height: 572.5534392257377px;
		padding-bottom: 27.446560774262252px;
		max-width: 725px;
	}

	#pu24317
	{
		padding-bottom: 109px;
	}

	#u24317
	{
		height: 109px;
	}

	#u24318-5
	{
		top: 20px;
		left: 50%;
		margin-left: -106px;
	}

	#u30031,#u30032
	{
		width: 553px;
		padding-bottom: 57px;
		top: 52px;
		left: 50%;
		margin-left: -276px;
	}

	#u30033
	{
		width: 349px;
		padding-bottom: 57px;
		top: 52px;
		left: 50%;
		margin-left: -276px;
	}

	#u30037-4
	{
		width: 69px;
		min-height: 57px;
		font-size: 10px;
		line-height: 12px;
		top: 52px;
		left: 50%;
		margin-left: -276px;
	}

	#u30037-4:hover
	{
		margin-left: -276px;
		min-height: 57px;
		width: 69px;
	}

	#u30034-4
	{
		width: 87px;
		min-height: 57px;
		font-size: 10px;
		line-height: 12px;
		top: 52px;
		left: 50%;
		margin-left: -207px;
	}

	#u30034-4.MuseLinkActive
	{
		margin-left: -207px;
		min-height: 57px;
		width: 87px;
	}

	#u30036-4
	{
		width: 100px;
		min-height: 57px;
		font-size: 10px;
		line-height: 12px;
		top: 52px;
		left: 50%;
		margin-left: -120px;
	}

	#u30036-4:hover
	{
		margin-left: -120px;
		min-height: 57px;
		width: 100px;
	}

	#u30035-4
	{
		width: 93px;
		min-height: 57px;
		font-size: 10px;
		line-height: 12px;
		top: 52px;
		left: 50%;
		margin-left: -20px;
	}

	#u30035-4:hover
	{
		margin-left: -20px;
		min-height: 57px;
		width: 93px;
	}

	#u30038-4
	{
		width: 98px;
		min-height: 57px;
		font-size: 10px;
		line-height: 12px;
		top: 52px;
		left: 50%;
		margin-left: 178px;
	}

	#u30038-4:hover
	{
		margin-left: 178px;
		min-height: 57px;
		width: 98px;
	}

	#u30039-4
	{
		width: 105px;
		min-height: 57px;
		font-size: 10px;
		line-height: 12px;
		top: 52px;
		left: 50%;
		margin-left: 73px;
	}

	#u30039-4:hover
	{
		margin-left: 73px;
		min-height: 57px;
		width: 105px;
	}

	#u20100-4
	{
		line-height: 36px;
		margin-top: 21px;
		width: 76%;
		margin-left: 13.38%;
	}

	#u20099-4
	{
		width: 76.14%;
		margin-left: 13.25%;
	}

	#u25740
	{
		margin-top: 18px;
		left: -204px;
	}

	#u25762,#u25785,#u25786
	{
		margin-top: 10px;
		left: -204px;
	}

	#u22348
	{
		width: 73.38%;
		margin-left: 13.38%;
	}

	#u21576
	{
		left: -173px;
	}

	#u21577-7
	{
		width: 189px;
		top: -6px;
		margin-bottom: -6px;
		left: -96px;
	}
}

@media (max-width: 460px)
{
	#muse_css_mq
	{
		background-color: #0001cc;
	}

	#bp_460.active
	{
		display: block;
	}

	#page
	{
		min-height: 572.5534392257377px;
		padding-bottom: 27.446560774262252px;
		max-width: 460px;
	}

	#pu24317
	{
		padding-bottom: 109px;
	}

	#u24317
	{
		height: 109px;
	}

	#u24318-5
	{
		top: 20px;
		left: 50%;
		margin-left: -106px;
	}

	#u30031,#u30032
	{
		width: 364px;
		padding-bottom: 55px;
		top: 54px;
		left: 50%;
		margin-left: -183px;
	}

	#u30033
	{
		width: 228px;
		padding-bottom: 55px;
		top: 54px;
		left: 50%;
		margin-left: -183px;
	}

	#u30037-4
	{
		width: 50px;
		min-height: 55px;
		font-size: 8px;
		line-height: 10px;
		top: 54px;
		left: 50%;
		margin-left: -183px;
	}

	#u30037-4:hover
	{
		margin-left: -183px;
		min-height: 55px;
		width: 50px;
	}

	#u30034-4
	{
		width: 57px;
		min-height: 55px;
		font-size: 8px;
		line-height: 10px;
		top: 54px;
		left: 50%;
		margin-left: -132px;
	}

	#u30034-4.MuseLinkActive
	{
		margin-left: -132px;
		min-height: 55px;
		width: 57px;
	}

	#u30036-4
	{
		width: 53px;
		min-height: 55px;
		font-size: 8px;
		line-height: 10px;
		top: 54px;
		left: 50%;
		margin-left: -75px;
	}

	#u30036-4:hover
	{
		margin-left: -75px;
		min-height: 55px;
		width: 53px;
	}

	#u30035-4
	{
		width: 68px;
		min-height: 55px;
		font-size: 8px;
		line-height: 10px;
		top: 54px;
		left: 50%;
		margin-left: -22px;
	}

	#u30035-4:hover
	{
		margin-left: -22px;
		min-height: 55px;
		width: 68px;
	}

	#u30038-4
	{
		width: 68px;
		min-height: 55px;
		font-size: 8px;
		line-height: 10px;
		top: 54px;
		left: 50%;
		margin-left: 114px;
	}

	#u30038-4:hover
	{
		margin-left: 114px;
		min-height: 55px;
		width: 68px;
	}

	#u30039-4
	{
		width: 68px;
		min-height: 55px;
		font-size: 8px;
		line-height: 10px;
		top: 54px;
		left: 50%;
		margin-left: 45px;
	}

	#u30039-4:hover
	{
		margin-left: 45px;
		min-height: 55px;
		width: 68px;
	}

	#u20100-4
	{
		line-height: 29px;
		margin-top: 21px;
		width: 76.09%;
		margin-left: 13.48%;
	}

	#u20100-2
	{
		font-size: 24px;
	}

	#u20099-4
	{
		font-size: 10px;
		line-height: 18px;
		width: 76.09%;
		margin-left: 13.27%;
	}

	#u25740
	{
		margin-top: 18px;
		left: -204px;
	}

	#u25762,#u25785,#u25786
	{
		margin-top: 10px;
		left: -204px;
	}

	#u22348
	{
		width: 73.27%;
		margin-left: 13.27%;
	}

	#u21576
	{
		left: -174px;
	}

	#u21577-7
	{
		width: 178px;
		margin-top: 5px;
		left: -90px;
	}

	body
	{
		min-width: 320px;
	}
}

