.version.shop /* version checker */
{
	color: #00000C;
	background-color: #01B383;
}

#page
{
	margin-right: auto;
	background-image: none;
	margin-left: auto;
	border-color: #000000;
	width: 100%;
	z-index: 1;
	border-width: 0px;
	background-color: transparent;
}

#pu24590
{
	width: 100%;
}

#u24590
{
	position: fixed;
	border-style: solid;
	background-color: #FFFFFF;
	border-color: #C9C9C9;
	top: 0px;
	z-index: 34;
	border-width: 0px 0px 1px;
}

#u24590-bw
{
	z-index: 34;
}

#u24591-5
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 32px;
	font-family: pt-sans, sans-serif;
	z-index: 35;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	width: 213px;
	font-size: 22px;
	line-height: 26px;
}

#u24591-2
{
	color: #29ABE2;
}

#u24592
{
	border-color: transparent;
	position: fixed;
	width: 600px;
	z-index: 40;
	border-width: 0px;
	background-color: transparent;
}

#u24594
{
	border-color: transparent;
	position: fixed;
	z-index: 41;
	border-width: 0px;
	background-color: transparent;
}

#u24595-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: open-sans, sans-serif;
	z-index: 54;
	background-color: transparent;
	text-align: center;
	font-weight: 600;
	width: 102px;
	font-size: 12px;
	line-height: 14px;
}

#u24595-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	filter: alpha(opacity=50);
	padding-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	margin-bottom: 0px;
	width: 102px;
	min-height: 57px;
	opacity: 0.5;
	margin-top: 0px;
}

#u24597-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 50;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	width: 116px;
	font-size: 12px;
	line-height: 14px;
}

#u24597-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-height: 57px;
	width: 116px;
	margin-top: 0px;
}

#u24598-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 42;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	width: 108px;
	font-size: 12px;
	line-height: 14px;
}

#u24598-4:hover
{
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-height: 57px;
	width: 108px;
	margin-top: 0px;
}

#u24596-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 46;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
}

#u24593-4
{
	letter-spacing: 1px;
	position: fixed;
	min-height: 57px;
	font-family: pt-sans, sans-serif;
	z-index: 58;
	background-color: transparent;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
}

#u24596-4:hover,#u24593-4.MuseLinkActive
{
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-height: 57px;
	margin-top: 0px;
}

#u24595-4:hover p,#u24597-4:hover p,#u24598-4:hover p,#u24596-4:hover p,#u24593-4.MuseLinkActive p
{
	color: #29ABE2;
	visibility: inherit;
}

#u24595-2,#u24597-2,#u24598-2,#u24596-2,#u24593-2
{
	padding-top: 21px;
}

#u19671-4
{
	line-height: 36px;
	position: relative;
	min-height: 53px;
	z-index: 26;
	background-color: transparent;
}

#u19670-6
{
	position: relative;
	min-height: 41px;
	z-index: 20;
	background-color: transparent;
}

#u19799-4
{
	line-height: 38px;
	border-width: 1px;
	border-color: #29ABE2;
	border-style: solid;
	z-index: 30;
	background-color: transparent;
	position: relative;
	min-height: 38px;
	font-weight: 400;
	margin-left: 50%;
	border-radius: 2px;
	width: 288px;
}

#u19799-4:hover
{
	margin-right: 0px;
	margin-left: 50%;
	padding-top: 0px;
	padding-bottom: 0px;
	border-color: #FFFFFF;
	margin-bottom: 0px;
	min-height: 38px;
	width: 288px;
	background-color: #29ABE2;
}

#u19799-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u19799-2
{
	color: #29ABE2;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
}

#u22348
{
	position: relative;
	z-index: 19;
	height: 1px;
}

#u21576
{
	left: -173px;
	padding-bottom: 0px;
	margin-left: 50%;
	position: relative;
	width: 347px;
	z-index: 2;
	margin-top: 30px;
}

#u21579-5
{
	left: -152px;
	min-height: 19px;
	margin-left: 50%;
	position: relative;
	width: 301px;
	z-index: 7;
}

#u21577-7
{
	left: -90px;
	min-height: 53px;
	margin-left: 50%;
	position: relative;
	margin-bottom: -6px;
	width: 178px;
	top: -6px;
	z-index: 12;
}

#u21580-4
{
	left: -174px;
	min-height: 21px;
	margin-left: 50%;
	position: relative;
	width: 347px;
	z-index: 3;
	margin-top: 25px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1039px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 573.0829846802832px;
		padding-bottom: 26.917015319716825px;
	}

	#pu24590
	{
		padding-bottom: 58px;
	}

	#u24590
	{
		height: 57px;
	}

	#u24591-5
	{
		top: 15px;
		left: 112px;
	}

	#u24592
	{
		padding-bottom: 58px;
		top: 0px;
		right: 22px;
	}

	#u24594
	{
		width: 434px;
		padding-bottom: 58px;
		top: 0px;
		right: 188px;
	}

	#u24595-4
	{
		top: 1px;
		right: 520px;
	}

	#u24597-4
	{
		top: 1px;
		right: 404px;
	}

	#u24598-4
	{
		top: 1px;
		right: 296px;
	}

	#u24595-4:hover,#u24597-4:hover,#u24598-4:hover
	{
		margin-left: 0px;
	}

	#u24596-4
	{
		width: 108px;
		top: 0px;
		right: 188px;
	}

	#u24596-4:hover
	{
		margin-left: 0px;
		width: 108px;
	}

	#u24593-4
	{
		width: 107px;
		top: 0px;
		right: 22px;
	}

	#u24593-4.MuseLinkActive
	{
		margin-left: 0px;
		width: 107px;
	}

	#u19671-4
	{
		margin-top: 242px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u19670-6
	{
		margin-top: 6px;
		width: 80.09%;
		margin-left: 10%;
	}

	#u19799-4
	{
		margin-top: 34px;
		left: -144px;
	}

	#u19799-4:hover
	{
		margin-top: 34px;
		left: -144px;
	}

	#u22348
	{
		margin-top: 4px;
		width: 73.34%;
		margin-left: 13.34%;
	}
}

@media (min-width: 726px) and (max-width: 1038px)
{
	#muse_css_mq
	{
		background-color: #00040e;
	}

	#bp_1038.active
	{
		display: block;
	}

	#page
	{
		min-height: 773.1193483166469px;
		padding-bottom: 26.880651683353108px;
		max-width: 1038px;
	}

	#pu24590
	{
		padding-bottom: 110px;
	}

	#u24590
	{
		height: 110px;
	}

	#u24591-5
	{
		top: 20px;
		left: 50%;
		margin-left: -107px;
	}

	#u24592
	{
		padding-bottom: 58px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u24594
	{
		width: 463px;
		padding-bottom: 57px;
		top: 53px;
		left: 50%;
		margin-left: -300px;
	}

	#u24595-4
	{
		top: 53px;
		left: 50%;
		margin-left: -300px;
	}

	#u24595-4:hover
	{
		margin-left: -300px;
	}

	#u24597-4
	{
		top: 53px;
		left: 50%;
		margin-left: -198px;
	}

	#u24597-4:hover
	{
		margin-left: -198px;
	}

	#u24598-4
	{
		top: 53px;
		left: 50%;
		margin-left: -82px;
	}

	#u24598-4:hover
	{
		margin-left: -82px;
	}

	#u24596-4
	{
		width: 137px;
		top: 53px;
		left: 50%;
		margin-left: 26px;
	}

	#u24596-4:hover
	{
		margin-left: 26px;
		width: 137px;
	}

	#u24593-4
	{
		width: 137px;
		top: 52px;
		left: 50%;
		margin-left: 163px;
	}

	#u24593-4.MuseLinkActive
	{
		margin-left: 163px;
		width: 137px;
	}

	#u19671-4
	{
		margin-top: 190px;
		width: 76.11%;
		margin-left: 11.95%;
	}

	#u19670-6
	{
		margin-top: 6px;
		width: 75.92%;
		margin-left: 11.95%;
	}

	#u19799-4
	{
		margin-top: 34px;
		left: -144px;
	}

	#u19799-4:hover
	{
		margin-top: 34px;
		left: -144px;
	}

	#u22348
	{
		margin-top: 131px;
		width: 73.32%;
		margin-left: 13.3%;
	}
}

@media (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		min-height: 773.1034392257378px;
		padding-bottom: 26.896560774262184px;
		max-width: 725px;
	}

	#pu24590
	{
		padding-bottom: 109px;
	}

	#u24590
	{
		height: 109px;
	}

	#u24591-5
	{
		top: 20px;
		left: 50%;
		margin-left: -107px;
	}

	#u24592
	{
		padding-bottom: 57px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u24594
	{
		width: 463px;
		padding-bottom: 57px;
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u24595-4
	{
		top: 52px;
		left: 50%;
		margin-left: -300px;
	}

	#u24595-4:hover
	{
		margin-left: -300px;
	}

	#u24597-4
	{
		top: 52px;
		left: 50%;
		margin-left: -198px;
	}

	#u24597-4:hover
	{
		margin-left: -198px;
	}

	#u24598-4
	{
		top: 52px;
		left: 50%;
		margin-left: -82px;
	}

	#u24598-4:hover
	{
		margin-left: -82px;
	}

	#u24596-4
	{
		width: 137px;
		top: 52px;
		left: 50%;
		margin-left: 26px;
	}

	#u24596-4:hover
	{
		margin-left: 26px;
		width: 137px;
	}

	#u24593-4
	{
		width: 137px;
		top: 52px;
		left: 50%;
		margin-left: 163px;
	}

	#u24593-4.MuseLinkActive
	{
		margin-left: 163px;
		width: 137px;
	}

	#u19671-4
	{
		margin-top: 191px;
		width: 76%;
		margin-left: 11.73%;
	}

	#u19670-6
	{
		margin-top: 2px;
		width: 73.94%;
		margin-left: 12.97%;
	}

	#u19799-4
	{
		margin-top: 15px;
		left: -145px;
	}

	#u19799-4:hover
	{
		margin-top: 15px;
		left: -145px;
	}

	#u22348
	{
		margin-top: 131px;
		width: 73.38%;
		margin-left: 13.38%;
	}

	body
	{
		min-width: 320px;
	}
}

